[2017-02-10 16:25] daaray opened #3 "Reconcile Heroku deploy bits"
The Heroku assets were hastily shoved in; we should review and ensure that it is set up well.

[2017-02-10 16:30] daaray commented on #3
- [ ] Add support for S3 via django-storages for Heroku deployment

[2017-02-10 16:49] shacker opened #4 "About page"

[2017-02-10 16:49] shacker opened #5 "Bring in bread images"

[2017-02-10 16:50] shacker opened #6 "Handle uploaded images (main image for about page, home page, etc.)"

[2017-02-10 16:51] daaray opened #7 "Ensure tags are rendering in blog index and blog detail pages"
At some point, the tag rendering was excised in both blog templates.

[2017-02-10 16:53] shacker opened #8 "Fix regressed search"

[2017-02-10 17:03] shacker opened #9 "Complete styling work"

[2017-02-10 17:03] shacker opened #10 "Mgmt command to load initial data and images"

[2017-02-10 17:06] daaray commented on #10
The stub exists here: https://github.com/wagtail/bakerydemo/blob/master/bakerydemo/base/management/commands/load_initial_data.py

[2017-02-10 17:18] shacker opened #11 "Dummy locations"

[2017-02-10 17:19] shacker opened #12 "Footer text into snippet"

[2017-02-10 17:19] shacker opened #13 "Dummy people"

[2017-02-10 17:19] shacker opened #14 "Dummy blog posts"

[2017-02-10 17:19] shacker opened #15 "Contact Form styling"

[2017-02-10 17:20] shacker opened #16 "Get tags working"

[2017-02-11 17:03] heymonkeyriot opened #17 "Vagrant - Migrate migrations and load initial data"
The vagrant/provsion.sh file appears to be doing everything correctly

[code]

But none of those commands are being run in the initial `vagrant up` command nor if you run a subsequent `vagrant provision`

[2017-02-11 17:07] tomdyson commented on #17
I think it would be better to remove these from `provision.sh` and make the user do them after provisioning. It keeps things consistent with the non-Vagrant instructions.

[2017-02-11 17:12] heymonkeyriot commented on #17
Yes there's something to be said for making that consistent. Would you thinking be then that requirements would also be installed manually by the user rather than the provisioning shell file?

One bonus advantage would be that the user would never have difficulties if they hit [the failed to mount folders vagrant problem](http://stackoverflow.com/questions/22717428/vagrant-error-failed-to-mount-fo

[2017-02-11 17:42] heymonkeyriot opened #18 "Remove StreamField intro block from blog"
Semantically a blog page can only have a single introduction field, and it has to be in a specific location. Currently it's a StreamField block, which is slightly confusing, and I think cause us some issues.

[2017-02-11 19:52] heymonkeyriot opened #19 "Validation on long lat co-ordinates"
Putting in anything other than the expected format for long lat co-ordinate into the editor will give an IndexError `list index out of range` error.

A long lat will normally be something like `64.127146, -21.880038`. Co-ordinates that aren't valid (e.g. `10391293939, -1238929101`) will avoid the error, but putting in `abc` or `123 -123` etc. will create the error.

Regex on the field?

[2017-02-11 21:11] daaray commented on #17
Interesting.  The provision script *does* create the database....it just creates it in the wrong place.

If you `vagrant ssh` and poke around after a `vagrant up`, the `bakerydemodb` file is located at:

`/home/vagrant`

It needs to be created in `/vagrant`

With regard to moving the commands to manual steps, I would argue that we fix the issue at hand and automate as much as possible via the Vagr

[2017-02-11 21:32] #18 closed

[2017-02-11 21:42] daaray commented on #17
Also, just an FYI, the `load_initial_data` currently only loads `bakerydemo.json`.  At the moment, that only provides 1 superuser and no other content.

[2017-02-11 21:59] daaray commented on #16
Dup #7

[2017-02-11 21:59] #16 closed

[2017-02-11 22:00] #7 closed

[2017-02-11 22:19] daaray opened #21 "Static resource bakery.js 404s"
`bakery.js` does not exist.  Did it ever?

https://github.com/wagtail/bakerydemo/blob/master/bakerydemo/templates/base.html#L42

<img width="677" alt="screen shot 2017-02-11 at 5 19 15 pm" src="https://cloud.githubusercontent.com/assets/281961/22857940/41c20d88-f07e-11e6-8475-59eb39d2e1c6.png">

[2017-02-11 22:21] shacker commented on #17
There's lots of work to do on initial data loading - I'll take care of that. If anything special has to be done for vagrant data loading, please wait until I've got it working for the standard instructions.

[2017-02-11 22:24] shacker commented on #19
Right now we suggest in help text that people copy this string directly from google, then we split it on comma to get separate lat and long. If they follow instructions there should be no problem. It is a required field. It seems a person would have to try hard to get this wrong. Our concern?

[2017-02-11 22:24] heymonkeyriot commented on #21
Ack, sorry. that's really bad git practice of me. I was trying to do something "clever" with mobile nav and then realised we should just use what comes out of the box with Bootstrap. Will delete the reference and commit!

[2017-02-11 22:25] #21 closed

[2017-02-11 22:27] daaray commented on #19
We definitely want to avoid the site throwing 500 errors, which, without a proper validator, does happen.  I will add it.

[2017-02-11 22:27] heymonkeyriot commented on #19
I managed to break it. I like most people think I'm smarter than instructions :)

I think since it's a fairly fatal issue (it throws a 500) we should have some form of validation.

[2017-02-11 22:31] #19 closed

[2017-02-11 22:55] shacker commented on #8
Fixed in 08efb42c81ab6e95ccd9a4110bbe897a46f17d56

[2017-02-11 22:55] #8 closed

[2017-02-11 22:58] shacker opened #22 "WagtailBakery admin menu item"
We are surfacing the People snippet under WagtailBakery. But People and the other three snippet models are already present under Snippets. Do we want to move all snippets under WagtailBakery? Or remove that and leave them all under Snippets? (I vote for the latter - it's more standard).

[2017-02-11 23:18] shacker opened #23 "Location maps no longer displaying"

[2017-02-11 23:21] shacker commented on #11
I'm going to mark these resolved when I have them entered on my local machine - you guys won't see the data until the whole data load system is complete.

[2017-02-11 23:21] #11 closed

[2017-02-11 23:29] shacker commented on #19
Oh true - yeah, no crashers! And I see this is already in - very clean (and instructional) solution. Thanks.

[2017-02-11 23:34] shacker opened #24 "Show locations on location index with image thumbnails, alphabetically"

[2017-02-11 23:47] shacker commented on #23
[code]

Had been created, but only put into head.html, not into base.html, so it was not bubbling up.

[2017-02-11 23:47] #23 closed

[2017-02-11 23:56] #12 closed

[2017-02-12 16:47] daaray opened #27 "Add documentation and sample settings to support S3 on Heroku"
Heroku's ephemeral file storage is problematic for demos that last more than a few hours.  While not free, S3 support via `django-storages` would allow for a very low cost persistent solution.

[2017-02-14 09:34] heymonkeyriot commented on #3
This may be my lack of knowledge with Heroku and S3, but presumably the only way to implement it easily is with the [Heroku bucketeer](https://elements.heroku.com/addons/bucketeer)?

[2017-02-14 09:40] heymonkeyriot commented on #3
Oh, I see you've flagged this on #27. Probably makes sense to have the conversation about S3 support there and we can close this ticket once the #26 PR has been merged in.

[2017-02-14 09:46] heymonkeyriot commented on #22
I think the WagtailBakery admin menu item needs to be changed.

I'd suggest we have:

 - `Bread categories` with `Origin` and `Country` inside it. That can be our example of a ModelAdminGroup.
- `People` with the people snippet as a simple ModelAdmin

But at the same time I'd suggest we also leave them all as Snippets. There's two reasons for that. One it means we can demo to people who've never s

[2017-02-14 09:51] heymonkeyriot commented on #6
I think part of this is a design decision on how we want these different images to be presented.

My feeling is that the about page shouldn't look like the other detail pages since it's mostly informational.

Equally the homepage currently needs to be changed quite dramatically to be inline with the design proposed by @tomdyson and worked up by @benenright.

[2017-02-14 09:52] heymonkeyriot commented on #4
Is there a question of whether this about page should be solely about the imaginary chain of bakeries or whether we should add something about the fact it's built on Wagtail, and pointing to [wagtail.io](wagtail.io)?

[2017-02-14 10:01] heymonkeyriot commented on #9
To mention I've started work on this in a separate branch. When I've gotten a little further I'll push up a PR to work on breaking down the different tasks I think we need to complete.

[2017-02-14 10:04] heymonkeyriot commented on #24
@shacker are we talking about the location index page here?

e.g. the location index page needs to list all location pages alphabetically and with the thumbnail image of that location?

[2017-02-14 20:04] #3 closed

[2017-02-14 20:09] daaray opened #28 "Pin requirements"
The requirements file should be amended to pin the current working versions of all libraries (at the time this demo is being actively developed). Leaving it to the most recent versions will invariably cause a problem later on.

[2017-02-15 06:51] shacker commented on #24
Yes, sorry - was referring only to the Locations index here.

[2017-02-15 06:54] shacker commented on #4
I was thinking I'd write it to be about Wagtail and this demo site, and wil highlight a few of the less obvious wagtail-y features we've used.

[2017-02-15 07:33] shacker opened #29 "Enhance tags display"
When showing tags at bottom of blog page, style each tag as a button (which is a fairly standard tag display) or otherwise make them distinct (right now it just looks like linked text "pinepapple bike". In bootstrap, add to the a href class `btn btn-primary`

On tag view page, add a header at top of page e.g. "Pages tagged with pineapple"

[2017-02-15 07:34] shacker opened #30 "Clean up db migrations"
Just before release, let's squash all migrations one more time for a clean start, esp since we have many auto-named migration files.

[2017-02-15 08:09] #29 closed

[2017-02-15 08:30] shacker opened #31 "Location images being stretched to 100% on index page"
With:

`{% image location.image width-150 %}`

we get this:

<img width="721" alt="screenshot 2017-02-15 00 28 57" src="https://cloud.githubusercontent.com/assets/102694/22966163/cdf59eca-f315-11e6-9659-1a6741e9ca1c.png">

[2017-02-15 11:20] heymonkeyriot commented on #31
I think @shacker we may be working on the same task since I'm looking at the styling and was starting with locations. The issue here is that the index page doesn't have any definition of rows or columns.

[2017-02-15 11:25] heymonkeyriot commented on #4
I think that makes sense. The only issue being that we'd built the about page around our imaginary bakery chain so it currently has a relationship to the locations. There's no reason it can't do to show that relationship, but something to consider.

[2017-02-15 11:44] heymonkeyriot commented on #24
No worries. I've amended the title to make it a little clearer.

I'll work on the design bit of it today, and try and get it all in a PR for you to review when your back online PST time.

[2017-02-15 12:13] heymonkeyriot opened #33 "Breadcrumb"
The breadcrumb currently has fairly functional styling. Could stand to be improved.

There's also the open question of whether it's necessary. The benefit - from my perspective - is that it's a much easier way to understand how TreeBeard can be used than the main menu is (since the main menu is that much more complex). The negative is that - to accommodate it within the design - we're using `conte

[2017-02-15 15:37] shacker commented on #33
I think it's important to keep breadcrumb - it's a common design pattern, solved elegantly by wagtail's hierarchical content. It shows off a key feature of WT.

[2017-02-15 16:27] shacker opened #35 "grep codebase for TODO and resolve each"
Noticing a growing number of these - just want to be sure we don't miss them.

[2017-02-15 16:29] shacker commented on #31
Yeah I started on it last night but then stopped when I realized the image stretching would prevent me from placing the thumbnails side by side. Just wanted to get the starter code in there. But yes, columns would solve this too.

[2017-02-15 16:43] daaray commented on #27
_This may be my lack of knowledge with Heroku and S3, but presumably the only way to implement S3 on Heroku easily is with the Heroku bucketeer?_

@heymonkeyriot bucketeer looks like it would resolve this issue; we could write documentation for how to do this 'by hand' and then the user would only be charged for actual S3 costs (pennies instead of $5 a month).

I am in favor of authoring the suppl

[2017-02-15 16:49] heymonkeyriot commented on #35
You're a mind reader. Was just about to create up the same ticket :)

[2017-02-15 16:51] heymonkeyriot commented on #30
(sorry being an idiot with labels)

But yes. Completely agree. I also think we've got some conflicting merges around the place still.

[2017-02-15 16:54] heymonkeyriot commented on #33
Cool. I think I have a solution in mind having had some conversations here. I'll try and do a PR tonight for review.

[2017-02-15 17:02] shacker commented on #15
A demo contact form with these fields has been created and will be in the full data dump.

Subject
Your Name
Your Email
Purpose [dropdown choices = Comment, Question, Feedback]
Body [textarea]

`EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'`

is already set in base.py and heroku.py to ensure the form does not send live email, and this is noted in the demo form and readme.

Re-as

[2017-02-15 18:20] heymonkeyriot commented on #15
Thanks @shacker

From doing a very quick play earlier this morning I think Bootstrap does most of the heavy lifting with this, just need to make sure that all the field items are semantically marked up

[2017-02-15 20:55] ArnarTumi opened #36 "Gallery Page"
Needs to add link to first page that the image is used in, to show reverse linking from images to pages (I think I have seen this done sometime...)

[2017-02-15 23:01] #28 closed

[2017-02-15 23:13] daaray commented on #17
Closing this, as the only remaining work is `load_initial_data` which is handled via #10

[2017-02-15 23:13] #17 closed

[2017-02-16 01:27] shacker commented on #5
@ArnarTumi Can you refresh my memory on how this worked / what the game plan is? We were going to put all site images into a .zip file included in the repo, right? And was there a management command that was going to unzip that, move them into `media/original_images`, and then loads the `images.json` fixture file to reference those same images?

I have the json file, but I don't have the .zip file

[2017-02-16 07:31] shacker opened #37 "referenced files that don't exist"
readme says:

`cp bakerydemo/settings/local.example.py bakerydemo/settings/local.py`

bash says:

`cp: bakerydemo/settings/local.example.py: No such file or directory`

and:

`./manage.py runserver` yields:

[code]

But secret key is already there in base.py. Is base.py no longer being read? Looks like `manage.py` now references:

`os.environ.setdefault("DJANGO_SETTINGS_MODULE", "bakerydemo.settin

[2017-02-16 08:03] shacker commented on #37
OK I see now that it should be `local.py.example` rather than `local.example.py` - fixing that gets everything going.

But now I'm trying to figure out where my data went. A new initial migration was required, and when I log in, it's a fresh db without all of the initial content I've been saving up. Any idea what would have wiped my db and forced a fresh start?

Might have to go to backup on this

[2017-02-16 08:28] shacker commented on #37
Was able to successfully restore a copy of bakerydemodb from backup and am back in business. Still curious what wiped out that file, but moving on. Pushed a commit to fix the readme to reference the correct local.py.example.

[2017-02-16 08:32] ArnarTumi commented on #5
We decided on not putting the images into the repo for now as it would make the repo so much bigger. We could revisit that thought at some point, after I ran the originals through tinyjpg the images are only 4mb total, and thus could probably just be added to the repo...
Anyway, attached are the images, you can grab a copy of my sqlite db from the slack chat, that should get you up and running wit

[2017-02-16 12:51] daaray commented on #37
Sorry about the dyslexic `cp` command.  If you root out the source of the wiped out db file, please do let me know.  I have not been able to recreate that.

[2017-02-16 15:15] daaray opened #38 "Create templatetag that determines if a location is open or closed"
In a timezone naive way, we should be able to use the opening hours model you created to show whether a location is open. It'd be a further nice way to show the building blocks

[2017-02-16 23:04] heymonkeyriot opened #39 "Vagrant alias djrun behaving unexpectedly"
Running the setup works fine for vagrant.

Running `./manage.py runserver 0.0.0.0:8000` works fine

Using `djrun` though gives the following error

[code]

In provision.sh the alias is setup as
`alias djrun="dj runserver 0.0.0.0:8000"`

This was working until PR #25 was merged in. Perhaps we just ditch the aliases?

[2017-02-16 23:16] #39 closed

[2017-02-17 09:11] shacker opened #40 "Handler header image on gallery view"
I'm making all of the main site sections use a common header via include. It assumes existence of image and introduction on the model.But this page is unique and has no model. How should we show something for the hero image here?

[2017-02-17 09:24] shacker opened #41 "Create a BasePage model and inherit"
Most of the main site sections include redundant image and introduction fields. Create a `BasePage` model to contain these and make Blog, Breads, Locations, Contact inherit from BasePage. Gallery is a special case.

- [x] Blog
- [x] Breads
- [x] Locations

[2017-02-17 09:35] shacker opened #42 "Delete rows from wagtailimages_rendition before exporting data"
Otherwise you end up with broken images in the admin.

[2017-02-17 11:02] heymonkeyriot commented on #42
I suppose it doesn't really matter (since they'll be regenerated in the db) but would it not be easier to delete them in the fixtures file?

[2017-02-17 16:17] shacker commented on #42
Not hugely different I suppose, but `delete from wagtailimages_rendition;` seems slightly easier. Either way; I'll experiment as needed.

[2017-02-17 20:39] daaray commented on #27
We can repurpose content from https://wagtail.io/blog/amazon-s3-for-media-files/ or https://www.caktusgroup.com/blog/2014/11/10/Using-Amazon-S3-to-store-your-Django-sites-static-and-media-files/

[2017-02-18 00:41] daaray opened #43 "Missing migration"
This commit: bc54cb4c6519cbd0947ad51561d7f0dd1ccc3112 references a missing migration. I  pulled master and received this output when running `pythpn manage.py migrate`:

[code]

[2017-02-18 00:57] daaray commented on #43
Need to update the wagtail requirement to `1.9`

[2017-02-18 00:57] #43 closed

[2017-02-18 01:14] #27 closed

[2017-02-18 09:14] heymonkeyriot commented on #39
Confirm that this is all working as expected. Thanks @daaray :)

[2017-02-18 11:10] daaray commented on #41
`Contact` does not have an `introduction` field; excluding that from the list.  However, the `GalleryPage` shares both fields, so I will add that to the list.

[2017-02-19 08:01] shacker commented on #13
I've got three dummy people in and am ready to close this, but @heymonkeyriot I see you put a 'design' tag on this - what design work is needed? Are we going to have People pages?

[2017-02-19 08:12] #40 closed

[2017-02-19 08:37] #31 closed

[2017-02-19 08:44] shacker opened #49 "Universal header via include"
Page header chunk is being handled inconsistently across pages (image, intro). `base/include/header.html` should be included on all pages. This is also consistent with the mixin we're using to include these fields on all page models.

[2017-02-19 08:45] shacker opened #50 "Internal map on LocationPage is not working"
Regression.

External maps are fine.

[2017-02-19 08:48] shacker opened #51 "Location styling missing styles?"
After merging https://github.com/wagtail/bakerydemo/pull/32 , location page for me is styled as shown, not as screenshot in the PR. Missing CSS?

<img width="817" alt="screenshot 2017-02-19 00 45 57" src="https://cloud.githubusercontent.com/assets/102694/23100725/0e036ba8-f63d-11e6-83a3-2e4a3851d6ac.png">

[2017-02-19 09:06] shacker commented on #50
This portion of the inline style (doesn't have to be inline if anyone objects) is non-optional:

[code]

[2017-02-19 09:06] #50 closed

[2017-02-19 09:17] #24 closed

[2017-02-19 09:28] shacker commented on #15
I can take this over if you're too busy. Looks like we'll need to switch from `form.as_p` to rendering the form fields manually in the template to put the correct styling on them.

[2017-02-19 16:51] daaray commented on #9
Assuming that since the PR is merged, we can deal with other items in followup tickets.

[2017-02-19 16:51] #9 closed

[2017-02-19 20:27] heymonkeyriot opened #52 "Duplicate about page templates"
We seem to have two in the repo at the moment.

[2017-02-19 20:46] heymonkeyriot commented on #51
It would appear that the way that you merged this in to master caused a lot of the work to be lost, which I think includes the styling because the various classes on the HTML have been removed. Will re-create a PR with that taken out.

[2017-02-19 21:07] heymonkeyriot commented on #51
D'oh! Looking a second time I think it's the PR on the operating hours from @daaray that knocked out the styling :)

The pull request #53 should have put everything back in the correct place.

[2017-02-19 21:18] heymonkeyriot commented on #49
I don't think these should be being handled consistently across all pages because we're not styling each page in the same way. I think we probably can introduce an include for something like the hero image that we're using on the blog detail pages and the location detail pages, but I think we should wait until we have a better idea of the design across the entire demo before we try and abstract th

[2017-02-19 21:41] shacker commented on #51
Ah. Yeah it merged very cleanly, and I only had one small conflict to resolve that was not style related. I'll look at PR #53 .

[2017-02-19 21:57] #52 closed

[2017-02-19 22:25] shacker opened #54 "Handle locations on About template, or ditch that relationship"
Locations are shown as children of `LocationIndex`. About also has `AboutLocationRelationship`, which lets you manually attach those same locations to the about page. But if you do, they don't show up since the template doesn't handle them.

Either add that handling to the about template, or remove the `AboutLocationRelationship` since it duplicates data on Locations and we're going to use About f

[2017-02-19 22:37] #51 closed

[2017-02-19 22:40] shacker commented on #49
Ah sorry, it was my bad assumption that we would want to style them all the same way for consistency and simplicity, but I'll leave that judgement in your hands. Let's leave this open until everything the other dust settles.

[2017-02-20 01:28] daaray commented on #38
Reopening this; now that I see the styling, I have a better understanding of how this templatetag should work.

[2017-02-20 01:28] #38 closed

[2017-02-20 08:22] heymonkeyriot commented on #52
@shacker closed this with commit [`19fd2f`](
https://github.com/wagtail/bakerydemo/commit/19fd2f23e7f0d209b3e3605a1a25d196237a953e) which removed the about_page.html file in the template root, and left it in the base template folder.

[2017-02-20 17:19] heymonkeyriot commented on #33
With #53 merged in I think this can be closed.

[2017-02-20 17:19] #33 closed

[2017-02-20 17:19] heymonkeyriot opened #57 "Styling Bread app"

[2017-02-20 17:21] heymonkeyriot commented on #13
Have removed the tag. Because you're right, there's no plan at the moment to have a people page, and we'll be exposing them via the blog etc. Sorry!

[2017-02-20 17:34] heymonkeyriot opened #58 "Homepage styling and content"
I think the issue between styling of the homepage and the content it has is quite interlinked. We didn't, in the sprint, have time to really have a conversation about what should be on the homepage. A little like the about page it'll need to juggle - in my mind - the content model of the bakery chain, alongside being clear it's a demo for Wagtail.

Alongside any homepage fields we have the followi

[2017-02-20 18:23] shacker commented on #58
My personal vote would be to keep it short and simple, probably just a single StreamField with no data integrations. Willing to be outvoted on this.

[2017-02-20 18:25] shacker commented on #13
Cool, thanks. My dummy people are named after (dead) blues musicians, male and female.

[2017-02-20 18:25] #13 closed

[2017-02-20 18:30] #41 closed

[2017-02-21 08:29] shacker opened #60 "Show blog author bylines (and avatars?) on BlogIndex and BlogPage"

[2017-02-21 09:09] shacker commented on #60
With PR, appears as:

<img width="777" alt="screenshot 2017-02-21 01 01 24" src="https://cloud.githubusercontent.com/assets/102694/23158027/65dd15fe-f7d2-11e6-8aa6-267df7fe69ad.png">

[2017-02-21 09:12] shacker commented on #14
Five blog posts now in, cribbed from wikipedia content, with bylines, pub dates, intros, etc.

[2017-02-21 09:12] #14 closed

[2017-02-21 09:29] tomdyson commented on #14
Where are they, @shacker?

[2017-02-21 17:01] shacker commented on #14
@tomdyson Because authors, posts, images, content types are all interrelated, and because I don't want people to have to keep wiping and recreating dbs during dev, I'm packaging all the content and images and will release it as a package with a loader. Getting close...

[2017-02-21 17:04] tomdyson commented on #14
@shacker understood, thanks for the explanation!

[2017-02-22 08:07] shacker commented on #36
@ArnarTumi I've renamed `choices` to `collection` and tweaked the display a bit. Do you think you'll have time to work on this linking? If not I'll take it.

[2017-02-22 16:56] #22 closed

[2017-02-22 20:52] heymonkeyriot commented on #58
My concern about it being a StreamField element is that it might be a little difficult to style. If we're going to keep it simple I'd suggest we at least keep it field based. I'll try and think of something a little more concrete to propose than my admittedly vague opening post above.

[2017-02-22 21:43] heymonkeyriot opened #62 "Style blog index page"

[2017-02-23 06:16] shacker commented on #58
Classic title and either RichTextField or TextField body would be fine too.

[2017-02-23 06:45] shacker commented on #36
Tracked it down - very cool. Had never noticed the `get_usage()` method on Image - apparently undocumented.

`	<a href="{{img_obj.image.get_usage.first.specific.url}}">`

[2017-02-23 06:48] #36 closed

[2017-02-23 06:56] shacker opened #64 "Demonstrate ManyToMany"
Wagtail 1.9 now supports true ManyToMany relations. This is a pretty big deal and erases a long-standing limitation. I know it's late in the game but can we think of a way to demonstrate this important feature?

[2017-02-23 07:16] shacker opened #65 "Support both sqlite and postgres"
Per  discussion - Heroku does not support postgres and we probably don't want to support two db systems (or do we?)

Also need to document the dependency and suggest easiest path to postgres installation (for Mac users that's http://postgresapp.com/

[2017-02-23 07:38] shacker commented on #37
@daaray Not sure exactly what commit changed this, but when trying to work with Tumi's old demo db just now, realized that at some point the location of the sqlite db file being looked for moved from docroot down into the bakerydemo dir. That change in code must have been what caused everything to reset for me last week. No worries, just following up.

[2017-02-23 08:34] shacker commented on #5
All BreadPages are now in (my local, not committed). Partially automated, partially manual. Styling work for breads index and detail needed - separate ticket for that.

Thanks for the yeoman's work on this @ArnarTumi !

[2017-02-23 08:35] #5 closed

[2017-02-23 08:35] shacker opened #66 "Style Breads index and detail views"

[2017-02-23 09:44] daaray commented on #64
Bread <-> Ingredients seems like the obvious one?

[2017-02-23 16:20] heymonkeyriot commented on #64
I think we should definitely demo it. Bread <-> ingredients seems like a good one.

[2017-02-23 16:56] shacker commented on #64
Agreed, ingredients is a natural fit. Flour everywhere...

Anyone want to take this?

[2017-02-23 18:51] daaray commented on #64
I can get to it this evening.  If someone wants to before then, feel free to re-assign.

[2017-02-23 22:30] heymonkeyriot commented on #66
I can move on to this tomorrow, but @shacker or @daaray feel free to take if you've time before then.

[2017-02-24 07:08] #60 closed

[2017-02-24 07:51] #37 closed

[2017-02-24 08:49] shacker commented on #4
Got  a good start on the About page content tonight. There will be opportunities to tweak this later once content loading is done, but early feedback?

<img width="1326" alt="screenshot 2017-02-24 00 48 10" src="https://cloud.githubusercontent.com/assets/102694/23296699/2319fa92-fa2b-11e6-98c2-3b013352eb16.png">
<img width="1300" alt="screenshot 2017-02-24 00 48 24" src="https://cloud.githubuserco

[2017-02-24 09:31] heymonkeyriot commented on #62
This was closed by #63

[2017-02-24 09:31] #62 closed

[2017-02-24 22:08] heymonkeyriot commented on #66
I'm going to close this as duplicate of #57, which is where I've been adding commits, alongside pull request #71.

[2017-02-24 22:08] #66 closed

[2017-02-25 09:10] #64 closed

[2017-02-26 16:25] heymonkeyriot opened #72 "WAI-ARIA markers"
We need to wheel back and make sure the templates are correctly marked up with [ARIA markers](https://www.w3.org/TR/wai-aria/) because there's been a bit of volatility with presentation they haven't been put in yet.

[2017-02-27 12:03] heymonkeyriot commented on #15
Oh, sorry @shacker I missed your comment on here. I'm going to start on this today so that we can get it running; conscious I let it slip slightly.

[2017-02-27 22:05] heymonkeyriot opened #74 "Use header includes on LocationIndexPage and BreadsIndexPage"
Totally my fault, I forgot to use these despite having them from BlogIndexPage.

[2017-02-27 22:28] heymonkeyriot commented on #57
Pull request #71 has been merged into master so closing this issue.

[2017-02-27 22:28] #57 closed

[2017-02-27 22:29] heymonkeyriot commented on #74
Noting this is a possible duplicate of #49. I suspect both can be closed at the same time.

[2017-02-27 22:31] heymonkeyriot commented on #4
Sorry, really poor slow response from me.

This looks great as a first draft, and think it gives a really good intro to the demo site and the Wagtail project. Perhaps something that'd be worth sharing more widely once it's in the fixture for comment?

[2017-02-27 22:32] heymonkeyriot opened #75 "Styling about page"
Not really sure it can be described as styling, but needs the grid around the body.

[2017-02-28 06:34] heymonkeyriot commented on #54
I think we should drop the relationship. We show in the demo how this type of demo can be set up between `People` in the base app, and `BlogPage` in the blog app. I think given the copy you've shared on #4 works well, and having the location relationship there will just confuse the issue. If we change our mind we can always put it back in again.

[2017-02-28 07:21] #75 closed

[2017-02-28 07:30] shacker commented on #6
My intent with this ticket was not really design related; more about a mechanism for including the images we want to include with the distro. I'm going to fold it into #10 . Layout and design of images is being worked out as we go, I think.

[2017-02-28 07:30] #6 closed

[2017-02-28 07:31] #54 closed

[2017-02-28 07:43] shacker commented on #58
For reference: Ben's original design:
http://playground.torchboxapps.com/bakery-html-proto/standard.html

[2017-02-28 07:45] heymonkeyriot commented on #58
That was actually Ben's design for the blog page/ streamfield elements. The design for the homepage (which wasn't really completed, and based on the proposal from @tomdyson) is at http://playground.torchboxapps.com/bakery-html-proto/

[2017-02-28 07:52] shacker commented on #58
Ah! I missed that somehow, seeing now for the first time. Good timing, I was about to load up dummy homepage content. What do you think - do you want to keep this "departure" look and feel? Or stick with a streamfield with dummy content for the hp? I think we definitely want a hero image for it. If we keep Ben's design, what's the best way to model - a new HomePageSection model for the subheads an

[2017-02-28 09:13] heymonkeyriot opened #78 "Rename AboutPage to more generic title?"
I asked this question on PR #76

[2017-02-28 09:16] heymonkeyriot opened #79 "Date field and datetime field render with input `type=text`"
This was raised on PR #73

It's entirely possible that it's invalid as being beyond the scope of this demo project, but to facilitate a discussion around it:

From @heymonkeyriot

From @daaray

[2017-02-28 09:20] heymonkeyriot commented on #58
I'd like to stick closer to the proposal from @tomdyson and @benenright for sure. I think trying to keep it within a StreamField will be quite limiting, and won't have that eye-catching aspect that I think we're hoping for.

Is there a reason to use a model rather than fields? I was thinking to use a multiFieldPanel that contained an image field, a subhead field and a text field that were containe

[2017-02-28 16:34] shacker commented on #79
Is the intent that you want to accommodate a user-dev who might want to add a datetime field even though there's not one in the demo form?  Yes it would require manual field overrides, but I do feel that's outside of scope for this project. I know it's weird since I haven't yet shared data, but here's how the form appears for me now:

<img width="441" alt="screenshot 2017-02-28 08 29 43" src="http

[2017-02-28 16:36] daaray commented on #79
Reading further on this, I do think it is well outside the scope of this particular project.  It would mae a great blog post somewhere though....

[2017-02-28 16:36] shacker commented on #78
+1 I think that's a good idea. We don't want to imply that devs have to create a new model for every variant of standard-issue pages. I'll take this one tonight.

[2017-02-28 16:38] shacker commented on #58
Yes, good plan. I like it. I'll work on this tonight (unless you're available sooner).

[2017-02-28 18:09] heymonkeyriot commented on #58
Ah sorry I had started during my lunch break today. I've just pushed the model updates that allow us to fit in with the design suggested by Ben alongside some additional bits that I think would be cool. I have this evening to work on it so hopefully will have something to share in a few hours.

[2017-02-28 18:11] heymonkeyriot commented on #15
I think this can be closed right @shacker? Unless you'd like to keep it open for the work you're doing on the dummy data?

[2017-02-28 18:11] heymonkeyriot commented on #78
Awesome!

[2017-02-28 18:13] heymonkeyriot commented on #79
Yup agreed on all counts. Will close, though would  be awesome to see a blog post on it @daaray :)

[2017-02-28 18:13] #79 closed

[2017-02-28 18:47] shacker commented on #15
Yeppers.

[2017-02-28 18:47] #15 closed

[2017-02-28 20:49] heymonkeyriot opened #81 "CSS refactor"
The CSS isn't in great shape because I've been adding new styles to the end of the file for each new feature branch. We should refactor before it to make it easier to navigate and maintain.

[2017-02-28 21:32] heymonkeyriot opened #82 "Blockquote isn't using `blockquote` attribute"
It's just wrapped in a `p` tag

[2017-03-01 08:06] shacker commented on #78
Soon realized that we already have `base.BasePageFieldsMixin` which defines introduction, image, and body as `blocks.BaseStreamBlock`, which left me wondering whether we really need `StandardPage`, or whether we're better off sticking with custom models inheriting from `base.BasePageFieldsMixin`. Two different techniques for abstraction  - which is better? Mixins have better composability, but `St

[2017-03-01 08:07] shacker commented on #78
(actually I already moved `body` into BasePageFieldsMixin` - you guys won't see that yet.

[2017-03-02 07:49] shacker opened #83 "Demonstrate API"
Not sure we want to tackle this for v1, but we had discussed before the sprint the possibility of demonstrating the Wagtail REST API.

We could consume an endpoint of breads with a simple jquery demo, or be more modern and use React, though that might involve bringing in webpack (though I tried a React demo once that provided a runtime compilation rather than using webpack - could look that up).

[2017-03-02 08:48] shacker commented on #78
This turned interesting.

I made an executive decision and decided to create a StandardPage, definining body, image and introduction. All good.

Then I went to remove the `BasePageFieldsMixin` and make all the app.models that use it subclass StandardPage instead, since those were redundant.  Ran into a big migration problem. `makemigrations` wants me to define a default value for `standardpage_ptr

[2017-03-02 18:02] heymonkeyriot opened #85 "Junk HTML in block template files"
Entirely my fault because they got introduced (I think) before Bootstrap, but the block template files have a fair amount of unnecessary markup. Will delete and create a PR.

[2017-03-03 07:26] shacker opened #86 "OperatingHours defines weekday abbreviations twice"

[2017-03-03 08:45] shacker commented on #78
OK finally figured out how to do this cleanly. Notes at
https://github.com/wagtail/bakerydemo/pull/87

[2017-03-03 08:50] shacker opened #88 "PEP 8 cleanup"
Final step before release - check once more for unused imports, PEP-8 linter warnings, etc.

[2017-03-03 09:52] daaray commented on #86
Once #87 is approved and merged, this can be addressed.

[code]

[2017-03-03 18:40] heymonkeyriot opened #90 "Blog page inconsistency"
It's using a col-md-7 grid with col-md-2 offset, whilst the rest of the site is all based on col-md-12.

[2017-03-03 18:41] heymonkeyriot commented on #82
Fixed with `9e0124c`

[2017-03-03 18:41] #82 closed

[2017-03-03 18:56] heymonkeyriot opened #92 "Blog index page styling issue"
Where an image is dark the dark overlay looks odd c/f
![image](https://cloud.githubusercontent.com/assets/11335309/23564734/0a246e64-0043-11e7-8899-56fbb4e935e9.png)

Will work out a better way of handling it.

[2017-03-04 00:19] #90 closed

[2017-03-04 00:20] #85 closed

[2017-03-06 02:41] shacker commented on #65
Thinking about this a bit more, I think we should probably support both sqlite and postgres. Recommend sqlite for the user who just wants to get up to speed quickly and easily without dependencies, and note that postgres is required for people on the Heroku/deployment path. Will make sure the loader works with both dbs. If you guys agree I'll just amend the readme and close this.

[2017-03-06 02:59] shacker commented on #10
Just had a thought, curious about your opinions:

I can't think of a good reason why dumpdata/loaddata and a data loading management command would be better than a simple sql dump/import. This is a case where we don't need to worry about preserving a pre-existing db. Given the challenges during the sprint of getting all of the dumpdata apps in the correct order, it seems more complex and somewhat

[2017-03-06 10:13] daaray commented on #10
I am in favor of sticking with the management command for a few reasons:

- It does keep with the convention seen in most other projects in the Django community
- It doesn't require different instructions dependent on the database the user elects to use
- It would require two commands to perform a load (the SQL import and a separate command to load images)

[2017-03-06 16:29] shacker commented on #10
Actually it dawned on me this morning that it wouldn't need *any* command for sqlite users - we just include the sqlite in the repo since it's just a file! No export or import of any kind needed. And why do the images need a loader? They can just be checked in right where they sit.

[2017-03-06 16:57] daaray commented on #10
Ah, I thought we were still wrestling with putting images in the repo or on S3 as a zip.

[2017-03-06 18:35] shacker commented on #10
It's still a legit question (where to put images), partially dependent on the final size of them all. We'll have quite a few. My `original_images` directory is currently 18.6MBs, but its contents are fairly "accidental" at the moment - not carefully chosen and not specifically optimized. The question I guess is "what do we gain by having the images live externally?" The user has to download the sa

[2017-03-07 22:03] shacker commented on #30
Are we pretty confident that our models are stable at this point? If so, I'll do this tonight.

[2017-03-08 07:52] shacker opened #94 "Explain term "CTA" in help_text"

[2017-03-08 07:57] shacker opened #95 "Hero CTA link broken"
On homepage, linked Hero CTA link to a Contact Us page. The generated front-end link was 404. Should link to pageurl?

[2017-03-08 08:14] shacker opened #96 "Top left masthead text (The Wagtail Bakery) should link to homepage"
Rather than to "#".

[2017-03-08 08:30] #78 closed

[2017-03-14 20:15] #94 closed

[2017-03-14 20:28] heymonkeyriot opened #101 "Location page maps API variable"
`<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD31CT9P9KxvNUJOwDq2kcFEIG8ADgaFgw&callback=initMap" async defer></script>`

@tomdyson raised on #100 about whether this should be a settings variable.

[2017-03-14 20:30] heymonkeyriot commented on #96
Was closed with PR #98

[2017-03-14 20:30] #96 closed

[2017-03-14 20:37] heymonkeyriot commented on #95
Yup, I have horrible feeling this was one I didn't test as well as I should have done 😞

Closed with your PR #97

[2017-03-14 20:37] #95 closed

[2017-03-14 22:33] heymonkeyriot commented on #83
Yup, this feels like something to implement after we've got the demo site up and running, potentially as a separate project if we want to do a nice front-end to it. I know a couple of people flagged they'd be interested in working on a small React app for it.

[2017-03-14 22:34] heymonkeyriot commented on #30
Yes, I think we're at the point where our models are pretty stable. @shacker if you're happy to take it on that'd be awesome. Will be very happy to see the back of all the migrations 🎉

[2017-03-14 22:47] heymonkeyriot commented on #10
(Sorry feel like I missed the conversation here)
If we need some sort of import I'm also very much on the side of having a management command for the reasons that @daaray makes. Additionally I like the active nature of it, I think it's a positive thing that the user is _actively_ populating their Wagtail installation, it's closer to the reality of a Wagtail project rather than having it there to b

[2017-03-15 06:44] #86 closed

[2017-03-15 06:55] #101 closed

[2017-03-15 06:58] shacker commented on #101
I do think this is a good idea, and have moved the key into settings.

@tomdyson I added a note in base.py urging users to create their own key and not to use ours. I hope that's sufficient. Really not a good practice to publish a key in a repo but not sure we have any choice if we want to demo the feature.   I guess we have to go on a bit of trust here that people won't abuse it. Worst case is we

[2017-03-15 06:59] shacker commented on #35
Like magic, no more TODOs!

[2017-03-15 06:59] #35 closed

[2017-03-15 20:02] heymonkeyriot commented on #30
Closed by PR #102

[2017-03-15 20:02] #30 closed

[2017-03-15 20:39] heymonkeyriot opened #103 "Footer content and styling"
At the moment there's icons to twitter, facebook at github. Should we simply remove the facebook one, or there another network/ site that would make sense to point towards?

[2017-03-16 06:46] #72 closed

[2017-03-16 06:49] shacker commented on #103
Replace FB with generic web icon linked to wagtail.io?

[2017-03-16 07:06] shacker commented on #10
For images, how about this? Since it would be great to be able to use github rather than an external neutral host like S3, but we also don't want the code repo to grow without shrinking (solutions to prune deleted images from repos are byzantine), how about this?

1. Create a new/separate github repo `bakerydemo_images`
1. Data is preconfigured (normally) to look for images in `bakerydemo/media/or

[2017-03-16 07:13] shacker commented on #10
To truly avoid the problem of the repo growing we'd need to not use github. I'm sure any of us can provide hosting space for a .zip , but it should be neutral, not attached to any of us. I'm having trouble thinking of a hosting space that's neutral, respected, and free. Anyone?

[2017-03-16 17:26] heymonkeyriot commented on #103
Sounds as good an idea as any. Will do this evening.

[2017-03-16 23:26] #103 closed

[2017-03-17 07:49] shacker opened #106 "List styling"
Unordered lists on the About page appear without bullets.

<img width="628" alt="screenshot 2017-03-17 00 48 48" src="https://cloud.githubusercontent.com/assets/102694/24033719/846e27e2-0aab-11e7-9ff3-d96494229022.png">

[2017-03-17 10:45] heymonkeyriot commented on #106
_Mea colpa_. Have just push #107 that will fix this.

It also impacted ordered lists as it was the `li` that was being incorrectly changed. Sorry, should have tested the form page PR more fully.

[2017-03-17 15:30] #106 closed

[2017-03-22 06:37] shacker opened #108 "Blockquote attribution wraps funny"
Line break after dash:

<img width="876" alt="screenshot 2017-03-21 23 36 34" src="https://cloud.githubusercontent.com/assets/102694/24185243/53b5aee4-0e8f-11e7-811a-50ee675fbb2d.png">

[2017-03-22 06:45] shacker opened #109 "Clickable gallery images"
Clicking an image in the gallery takes you back to the same page.

Either remove links or render images in a larger format or link to the first page in which this image is used (I thought we had already implemented it this way - this is where I discovered wagtail's `get_usage()`).

[2017-03-22 06:47] shacker opened #110 "Remove map link buttons from Locations index"
Each location already has an embedded map. The big red buttons on the Locations index encourage me to click out of the site needlessly, and I might miss the nicer embed feature we already have.

[2017-03-22 06:51] shacker opened #111 "Remove page body field from content_panels on Locations"
We're getting by fine with short introduction and a map  and not using body in the demo. Remove?

[2017-03-23 07:34] shacker commented on #109
I take it back - this is already working via the `gallery_tags` template tag. I was fooled because it calls `img_obj.image.get_usage.first.specific.url` and some of our images aren't actually used in any page - I'll make a separate ticket for that - so the first usage of the image is the gallery page itself, so some thumbs link to themselves!

[2017-03-23 07:34] #109 closed

[2017-03-23 07:36] shacker opened #114 "Verify that all included images are actually used somewhere"
via `.get_usage()`

Either use the unused images or remove them.

[2017-03-23 07:57] shacker commented on #74
@heymonkeyriot Close this if you think this is no longer relevant.

[2017-03-23 07:57] shacker commented on #58
@heymonkeyriot Ready to close this?

[2017-03-23 14:32] tomdyson opened #116 "Remove psycopg2 requirement"
Many users will want to get bakerydemo running without Vagrant or Docker. You currently have to install the `psycopg2` drivers, which can be a nuisance on OS X (currently failing on my recently updated 10.12.3 OS X). Can we make this optional?

For reference, the existing wagtaildemo repo handles this with an instruction in the README:

https://github.com/wagtail/wagtaildemo#sqlite-support

[2017-03-23 21:20] heymonkeyriot commented on #116
Good point! I think this is somewhat a duplicate of #65 though. We've been using SQLite through the development of the demo so it should be trivial to make sure that that continues.

[2017-03-23 21:23] heymonkeyriot commented on #108
Ah, now I understand #115. I think this is a feature rather than a bug to the extent that I had intended for it to be presented like that as a keyline separating the quote from the footer attribution. I can see how it looks like an em dash though. Perhaps rather than the solution in #115 we could remove the `::before` element here and change the attribution to be be italicised?

[2017-03-23 21:23] heymonkeyriot commented on #58
Absolutely. I'd left it open because of the word "content" in the subject, but agreed that we should simply close it off.

[2017-03-23 21:23] #58 closed

[2017-03-23 21:25] heymonkeyriot commented on #49
I think this is closed by #74 and #76

[2017-03-23 21:25] #49 closed

[2017-03-23 21:26] #74 closed

[2017-03-24 06:47] shacker commented on #116
Yes this is parallel to #65  - My hope/intention was to still consider sqlite the default - I assume that most people wanting to check out the demo will want the quickest run path and probably not to populate their local pg server. I also assume that only a very tiny fraction would have interest in hosting the demo on a live server.  Nevertheless, we are still assuming a Heroku dependency, which i

[2017-03-24 06:50] #111 closed

[2017-03-24 07:31] shacker commented on #108
I think we think about blockquotes attributions differently. Traditionally a quotation in a blockquote is attributed with an emdash preceding the author name, all on a newline together.

Separately, while this use of `footer` may be semantically fine, I think it's quite unusual to use footer inside a  blockquote. If you want to use a `before` instead, go for it, but I personally think this is a mo

[2017-03-24 11:19] heymonkeyriot commented on #116
I know not directed at me, but to throw my hat in to the ring, and I'm surprised saying it, but I think distributing the `bankerydemodb` with the repo could be a good solution. We just need to make sure that we get the `image_renditions` that are currently in there out. In any case I'll defer to whatever @tomdyson thinks would work.

[2017-03-26 21:36] shacker commented on #10
The data loader should also include `delete from wagtailimages_rendition;` so we don't have to remember to do it manually every time.

[2017-03-26 21:37] shacker commented on #42
@heymonkeyriot You're right, it makes more sense to do this in the data loader command so it doesn't get forgotten any  time we make a change. Added note to #10, closing this.

[2017-03-26 21:37] #42 closed

[2017-03-26 21:40] shacker commented on #116
Ah, great to have your support on this idea @heymonkeyriot - I still think it's a good idea too. If we do this we won't need a data loader, so you're right, deleting image_renditions becomes a manual task again. Not a big deal on that. Standing by for a vote from @tomdyson

[2017-03-26 21:42] shacker commented on #110
Per discussion, leaving the external Map links in place. Closing.

[2017-03-26 21:42] #110 closed

[2017-03-26 21:46] shacker opened #118 "Replace BasePageFieldMixin with explicit fields"
Based on feedback from Wagtail Space and per slack chat with @heymonkeyriot

[2017-03-26 21:55] shacker commented on #118
Yeah, very nice that since BasePageFieldMixin was abstract, we don't lose any content and it appears that migrations are not even necessary. Nice.

[2017-03-26 21:58] shacker commented on #118
I take it back- migrations needed in some places. That's OK- we'll squash again later.

[2017-03-26 22:38] shacker commented on #108
I'll leave handling of this one up to you Edd - whatever you think best.

[2017-03-27 10:18] heymonkeyriot commented on #92
This was closed by #117

[2017-03-27 10:18] #92 closed

[2017-03-27 10:22] heymonkeyriot opened #120 "Improve inline comments"
Feedback from Holland was that some of the code is slightly hard to follow, especially if someone isn't used to Django. In the longer term I think there was a discussion about creating some form of tutorial to help better introduce the project, but in the interim adding/ improving the inline comments feels like a good first step.

[2017-03-29 07:09] shacker commented on #114
Push to master on shacker fork ensures all images are in use - adding some that were unused into blog posts, and deleting others. Size of `original_images` dir is now under 6MBs.  For posterity, here's how I did it:

1) Find all image referenced in explicit relations:

[code]

this generates output like this:

[code]

delete from list all that have non-empty querysets.

2) `get_usage()` doesn't ac

[2017-03-29 07:09] #114 closed

[2017-03-29 07:10] shacker commented on #118
Resolved in PR #119

[2017-03-29 07:10] #118 closed

[2017-03-29 07:14] shacker opened #124 "Add body content to Locations"
@heymonkeyriot You had ideas for real content on these pages, yes? Body fields are present on Location now - feel free to add or ask me to add dummy content.

[2017-03-29 07:16] shacker commented on #108
Resolved in #123 - thanks @heymonkeyriot

[2017-03-29 07:16] #108 closed

[2017-03-29 07:18] shacker commented on #65
Mostly duplicates #116, closing.

[2017-03-29 07:18] #65 closed

[2017-03-29 07:19] shacker commented on #116
Duplicate discussion starts in #65

[2017-03-29 12:34] heymonkeyriot commented on #116
It appears that both issues were closed so re-opening this one @shacker . Hope that's okay and I haven't misunderstood something?

I think we can avoid the image_renditions issue being an issue so long as we always remember to delete them from the db before we commit them to the repo. If that isn't the case though then I think we may need to give it a little bit of thought. I can see people feelin

[2017-03-29 17:02] shacker commented on #116
Oops, thanks for re-opening.

I don't think you or I will have trouble remembering to do it. I'll add a README note for future devs who might want to add or change images in the set. Either way, it won't be a requirement for demo users.

[2017-03-29 18:30] heymonkeyriot opened #126 "List regression on homepage"
_hangs head in shame_

[2017-03-30 06:06] #81 closed

[2017-03-30 07:49] #88 closed

[2017-03-30 07:53] heymonkeyriot opened #128 "Homepage image stretching"
Images on the homepage are currently being stretched (rather than cropped) to the correct size.

[2017-03-30 10:51] tomdyson commented on #116
Sorry @shacker and @heymonkeyriot for the slow response. Thanks for all your excellent work on this so far! Thoughts below:

I don't think this is correct. In my experience, plenty of people will use this as a starting point for their production projects (I've seen plenty of live Wagtail sites based on the current wagtaildemo).

Heroku is just one deployment option, not a dependency. Still, you're

[2017-03-30 15:29] shacker commented on #120
Thanks!

[2017-03-30 15:29] #120 closed

[2017-03-30 15:31] #126 closed

[2017-03-30 20:24] heymonkeyriot commented on #124
I'm closing this as I think this is resolved by commit [645b6a](https://github.com/shacker/bakerydemo/commit/645b6a7f854d593862888e9c18f6b678fcdc4bc4) on the fork that you created @shacker

[2017-03-30 20:24] #124 closed

[2017-03-30 20:30] heymonkeyriot commented on #83
Since we're doing post-launch have added `some day` label to this issue.

[2017-03-31 05:57] #128 closed

[2017-03-31 07:19] shacker opened #130 "Test on Python2"

[2017-04-02 10:15] heymonkeyriot opened #133 "Favicon"
We don't have one...

[2017-04-02 10:16] heymonkeyriot opened #134 "Allow images on Heroku deployment"
Deploying to Heroku works perfectly except for the fact that images don't get deployed with the build.

[2017-04-02 15:06] heymonkeyriot opened #135 "_Another_ li regression on homepage"
![image](https://cloud.githubusercontent.com/assets/11335309/24588338/38ef81ce-17be-11e7-9e60-5c4605300731.png)
Doesn't effect other list pages.

[2017-04-02 21:31] heymonkeyriot opened #139 "Mobile styling"
Definitely sub-optimal but don't think it's a block to v1 launch

[2017-04-02 21:32] heymonkeyriot opened #140 "Improve flow of readme"
The readme is currently slightly staccato and doesn't have a unified voice.

[2017-04-03 06:46] #135 closed

[2017-04-03 06:46] #133 closed

[2017-04-03 06:47] shacker commented on #10
Sorted!

[2017-04-03 06:47] #10 closed

[2017-04-03 06:51] shacker commented on #116
Thanks Tom. The fixtures-based approach is working nicely now that we've got the export recipe down and worked through the conflicts from WT (logically) creating default initial Site and Page objects in a migration.

All good, thanks for the feedback.

[2017-04-03 06:51] #116 closed

[2017-04-03 20:08] #134 closed

[2017-04-04 06:30] #140 closed

[2017-04-14 07:12] zr777 opened #142 "preview bug with routablePage"
Page not found (404)
Request Method:	POST
Request URL:	http://localhost:8000/admin/pages/61/edit/preview/
Raised by:	wagtail.wagtailadmin.views.pages.preview_on_edit
Using the URLconf defined in bakerydemo.urls, Django tried these URL patterns, in this order:
^tags/(\w+)/$ [name='tag_archive']
^tags/$ [name='tag_archive']
The current URL, , didn't match any of these.
You're seeing this error becau

[2017-04-18 06:54] shacker commented on #142
Thanks for the report. Can you let us know what page (or type of page) you were editing when you clicked Preview and got this 404? Thanks.

[2017-04-18 09:31] zr777 commented on #142
sorry i forget, but i don't change any code about the demo, the page id is 61, a simple post page, hope it helps

[2017-04-23 19:57] shacker opened #144 "Update to Django 1.11"
Test, fix if needed, and update base.txt requirements.

[2017-04-23 20:13] shacker commented on #142
Thanks - I've got a PR in for this now.

[2017-05-01 08:46] abadger1406 opened #146 "AttributeError: 'NoneType' object has no attribute 'startswith'"
Install bakery demo, create new page of type standard page and see above error:-

[code]

[2017-05-01 08:49] abadger1406 commented on #146
This is what I see in browser:-
![screenshot from 2017-05-01 09-49-00](https://cloud.githubusercontent.com/assets/634924/25575967/78a94fec-2e53-11e7-82a1-3e017b49571e.png)

[2017-05-01 08:54] abadger1406 commented on #146
Tried a fresh install virtualenv using python 2.7 rather than python 3.5, same error

[code]

[2017-05-01 09:17] daaray commented on #146
Did you create a fresh virtualenv for this bakerydemo instance?   Based on the output, it looks like you have artifacts from the old [wagtaildemo](https://github.com/wagtail/wagtaildemo/blob/c5316cdb1bd897737ef48d74e0afaac94bae8431/demo/templatetags/demo_tags.py).  That file does not exist in the new repo.

[2017-05-01 09:53] #142 closed

[2017-05-01 13:20] abadger1406 commented on #146
The 'demo' virtualenv above was created new, and populated as shown above.

[2017-05-01 13:50] daaray commented on #146
Right.  Inspecting the output you posted, it looks as though you checked out the other [wagtail demo](https://github.com/wagtail/wagtaildemo) repo, built it, and reported an error for it in this repo.

For instance, your output from `pip install -r  requirements.text` lists libraries that do not exist in the requirements file in this repo.

[2017-05-13 07:29] abadger1406 opened #148 "NotImplementedError: Complex filters with double-underscore clauses are not implemented yet"
When trying to create a new locations page, I get this error.

[2017-05-14 19:26] abadger1406 commented on #148
![screenshot from 2017-05-13 23-48-49](https://cloud.githubusercontent.com/assets/634924/26037072/a51558e2-38e3-11e7-81e0-dac62c84aadd.png)

[2017-05-14 19:28] abadger1406 commented on #146
You are right, I have confused the bakery demo with the orig wagtail demo. Will close this issue here.

[2017-05-14 19:28] #146 closed

[2017-06-07 13:21] daaray commented on #148
Can you do a `pip freeze` and relay what version of `django-modelcluster` you have installed?

[2017-07-10 17:39] #144 closed

[2017-08-25 09:36] thibaudcolas opened #152 "Issues deploying to Heroku"
I have managed to get this demo site running locally (in a virtualenv, with SQLite), but am facing a lot of issues trying to deploy it on Heroku.

The issues so far are:

## The Python runtime specified in `runtime.txt` does not work on Heroku.

This can be reproduced by using Heroku's "single-click deploy", https://heroku.com/deploy?template=https://github.com/wagtail/bakerydemo. Error log:

[cod

[2017-08-25 13:36] daaray commented on #152
I have updated `runtime.txt` to Python  3.6.2.  Can you attempt another deploy via the magic button and see if it works for you now?  I was able to successfully deploy a new instance with it.

[2017-08-25 15:42] #152 closed

[2017-10-18 13:51] thibaudcolas opened #167 "Page chooser doesn't render chooser UI"
When using the link control in Hallo.js, the link/page chooser modal does not contain any of the UI to pick a Wagtail page.

<img width="716" alt="page-chooser-bakerydemo" src="https://user-images.githubusercontent.com/877585/31722072-0675d0da-b413-11e7-9bf7-02a329af6774.png">

There is a network request fired to http://localhost:8000/admin/choose-page/1/?allow_external_link=true&link_text=Yeasts&

[2017-10-19 11:31] heymonkeyriot commented on #167
I wonder if this is a wagtail 2.0 issue. Let me see if I can replicate on an earlier instance of the demo.

[2017-10-19 11:40] heymonkeyriot commented on #167
Also fails using Wagtail 1.9.1 and Wagtail 1.8. Curiously if one enters a string to search against it works as expected. I can't think of anything we're doing on the page models that would stop explorer from working 🤔

[2017-10-19 13:04] heymonkeyriot opened #168 "More complex StreamField instances"
We deliberately aimed to keep the Bakery demo as simple as possible with the implementation of StreamField, but that has an unintended consequence that now the demo is used as part of the vagrant-wagtail-dev environment it's easy to miss things that only happen when StreamField elements have been nested/ use lots of different field types etc.

Currently my work-around has been to use a pre-existin

[2017-11-03 13:26] heymonkeyriot commented on #168
I've added an `allthethingsblock` branch that I've pushed. Not creating a PR since it'd be good to get some more input from people. But I think given that bakerydemo is now being pulled within the wagtail-dev project it makes sense to have some more complex elements to better test functionality.

[2017-11-03 13:30] heymonkeyriot opened #171 "Delete stray migrations"
Some migrations seem to have creeped in to the demo project.

We were trying hard to keep them out to keep the initial build for a user as clean as possible.

Is it worth deleting them? Though I suspect it'll create some migration issues for those users with bakerydemo that have them already. Thoughts?

[2017-11-03 14:14] gasman commented on #171
I don't think (lack of) migrations is a meaningful measure of a project's cleanliness... anyone who treats it as such is going to get a nasty shock when they start a real-world project ;-)

As you say, avoiding migrations is going to cause hassle for anyone using the project as more than a throwaway demo (e.g. to develop Wagtail against) - my vote is to not worry about them.

[2017-11-16 21:05] thibaudcolas commented on #167
I can't reproduce anymore. No idea what I've changed though :/

[2017-11-16 21:05] #167 closed

[2017-11-16 21:12] gasman commented on #167
This was fixed in #174 - didn't see there was already an issue for it :-)

[2017-11-19 21:31] thibaudcolas commented on #130
Closing since the next version of Wagtail won't support Python 2. See https://github.com/wagtail/wagtail/issues/3917.

[2017-11-19 21:31] #130 closed

[2017-11-19 21:43] thibaudcolas commented on #168
I think nested Streamfield is an important feature to have in the main Wagtail demonstrator. It doesn't have to be relied on too much, but seeing that the capability is there will be useful already.

For development of Wagtail – in my opinion there should be a way to try all of the features of the CMS easily. It doesn't have to be available in a vanilla instance of bakerydemo, but it should be eas

[2017-11-24 15:56] thibaudcolas opened #175 "Make the demo more suitable for Wagtail testing"
I've been trying to set up automated testing for Wagtail using the bakerydemo. Since it's also used as the default development project by Wagtail contributors, I think it would make sense for it to be the go-to project for automated and manual testing.

Overall, the bakerydemo does much more than the previous wagtaildemo so it's already a great leap forward. Nonetheless, there are many things that

[2017-12-10 18:02] heymonkeyriot commented on #175
We had quite a few conversations along these lines when first setting up the demo. The general consensus was that we should try and keep things as simple as possible for first time users, whilst giving enough complexity for people new to Wagtail and/or Django to starting getting a sense of how things work. I've no data to back it up with but personally seeing people engage with the demo for the fi

[2017-12-10 18:04] heymonkeyriot commented on #171
Yup, all fair. Still feels like a slight shame, but as you say not a big deal :)

[2017-12-10 18:04] #171 closed

[2017-12-15 18:33] wtorcaso opened #180 "Wagtail Admin UI: create HomePage without a Site leads to AttributeError crash"
I'm new to Wagtail, and I'm exploring the Bakery demo [that is a great demo, by the way!]. I can produce an AttributeError, 'NoneType' has no attribute 'startswith'".

The problem is that the Preview code in the Admin UI assumes that there is a site for every Page. But in my case there is no site yet.

I got to this point by not paying enough attention to the warnings in the Admin UI. But still, a

[2017-12-19 15:37] stuaxo opened #181 "assignment_tag is deprecated"
This is is used in navigation_tags.   I noticed this while trying to use parts of this demo with upcoming wagtail version.

[2017-12-19 15:40] stuaxo commented on #181
It appears that simple_tag has gained the capabilities of assignment_tag

[2018-01-24 20:14] Beenhakker opened #185 "Docker demo site nog working?"
Hi,

I just tried setting up Docker variant of the demo site. I am using Docker 17-12 (stable) on a Macbook Pro, running High Sierra.

The installation seems to be going okay, no clear warnings are show. When going to the homepage when everything runs, displays the default, blank Wagtail page : "Welcome to your new Wagtail site!". Logging in to Wagtail admin also fails with the provided credential

[2018-01-25 13:45] khashashin commented on #185
If you just need to try http://cms.smb-web.com/ you can login with >admin >changeme

[2018-01-30 15:25] spapas opened #186 "Bad behavior when deploying to Docker"
I tried installing the wagtail bakery demo (from https://github.com/wagtail/bakerydemo) using Docker on a Centos 7 system. Everything seemed to work ok however there is a strange issue with the images. When I first visit the homepage the images are all missing (return 404 not found)... When I try refreshing that page a couple of times the images start randomly appearing ... after a lot of refreshe

[2018-02-01 20:52] Beenhakker commented on #185
Great thanks, I had a look :-)

But I would like to dig a bit more, and look at the code. Is it known issue the Docker version is not working? If so, what's the reason behind it? Maybe easier to update the documentation then. If so, which version is working?

[2018-02-24 19:33] epicserve opened #190 "Where is the people page?"
I see there is People model and that you can add a person in the admin, but I'm not seeing how view the people on the actual site.

[2018-02-24 22:43] gasman commented on #190
Hi @epicserve - the People model is just used to associate blog pages with authors.

[2018-02-24 22:43] #190 closed

[2018-02-24 22:59] epicserve commented on #190
@gasman,

Thanks, I was looking for a way to make a staff page that has a list of staff. I copied that model and made view like this:

[code]

This works, but it would be nice to be able to drag and drop the people to change the order they appear on the page. Any thoughts or suggestions?

[2018-03-01 12:02] tomdyson opened #193 "Upgrade to Wagtail 2.0"

[2018-03-06 22:53] mcseptian opened #194 ".env file SyntaxWarning on windows"
[code]
dotenv won't load .env file on windows.

[2018-03-06 23:08] mcseptian commented on #194
I think remove the quotation marks on .env file solve this.

[2018-03-06 23:08] #194 closed

[2018-03-14 15:44] lucasmoeskops opened #195 "Some image data in the database is incorrect"
See: https://github.com/wagtail/wagtail/issues/4361.

Some width and height values in the wagtailimages_image table are incorrect.

[2018-03-23 06:05] djdeo opened #196 "ModuleNotFoundError: No module named 'wagtailfontawesome'"
after command `python manage.py migrate`
this error shows,  didn't use **virturalenv**

[2018-03-23 06:29] djdeo commented on #196
fixed after `pip install wagtailfontawesome`, close this

[2018-03-23 06:29] #196 closed

[2018-04-27 10:07] nlubega opened #198 "Windows 7 Installation"
Hi,

Do you have installation instructions for Django on 32bit Windows machine?

[2018-04-27 10:35] gasman commented on #198
Hi @nlubega,
We can't provide installation instructions for specific platforms, but I believe the Vagrant instructions at https://github.com/wagtail/bakerydemo#setup-with-vagrant should work.

[2018-04-27 10:35] #198 closed

[2018-05-02 18:18] nfletton opened #200 "Vagrantfile override"
The old Wagtail demo Vagrantfile had some code at the end to allow you to extend the default settings:

[code]

Any objection to adding the code to this project?

[2018-05-08 13:41] gasman commented on #200
Added in #200.

[2018-05-08 13:41] #200 closed

[2018-05-22 19:44] #195 closed

[2018-05-23 05:42] Kuntal-KK opened #203 "Command "python setup.py egg_info" failed with error code 1"
I am getting this error whenever running pip install -r requirements.txt command. I am using python 3.6.3 and window 10. Can anyone help? Below is the error I am getting

[2018-05-24 03:48] Kuntal-KK commented on #203
I have solved it. Removed uwsgi from production requirement file.

[2018-05-24 03:48] #203 closed

[2018-06-02 21:32] paolodina opened #205 "Enable People snippet search?"
Now:
![screenshot_2018-06-02_23-03-51](https://user-images.githubusercontent.com/1157401/40880911-212ba74c-66ba-11e8-8fdd-99c502cf548e.png)

With search:
![screenshot_2018-06-02_23-06-17](https://user-images.githubusercontent.com/1157401/40880914-2b3803b6-66ba-11e8-83a5-3955c79ef4e4.png)

I managed to get the search form changing the snippet definition from
[code]

to
[code]

but I get these warni

[2018-06-02 21:40] gasman commented on #205
`index.Indexed` isn't specific to pages. The problem is this line:

https://github.com/wagtail/bakerydemo/blob/0f11e0f208afd3e724eb8fd3af8f754761eb3cbe/bakerydemo/base/models.py#L59

`search_fields` here should not be extending `Page.search_fields`.

[2018-06-03 20:55] epicserve opened #207 "Add docker-compose volumne"
Could a volume be added so you don't have to run `/venv/bin/python manage.py load_inital_data` every time you start up the demo site after having run `docker-compose down`? Here is what you would need to add, but you might have to add volumes to other services as well. What I did wasn't working all the way because the images weren't loading on the home page after running `docker-compose down`.

[c

[2018-06-04 08:00] #205 closed

[2018-06-16 13:36] techbeauty opened #208 "git@github.com: Permission denied (publickey). fatal: Could not read from remote repository."
Hello, I was trying to follow the "Setup with Virtualenv" instructions and kept receiving an error when trying to clone the the repository:

web@ubuntuserver1804:~$ git clone git@github.com:wagtail/bakerydemo.git
Cloning into 'bakerydemo'...
git@github.com: Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repo

[2018-06-22 09:05] simonwangtx commented on #208
Yeah, the same issue I've met. But obviously, you could use _https://github.com/wagtail/bakerydemo.git_ instead.

[2018-06-22 09:35] #208 closed

[2018-07-13 13:13] gabrielwolf opened #209 "People snippet broken?"
`first_name` and `last_name` are unfortunately not editable in the backend. So it's not possible to add another person, as well.

I set up a fresh bakerydemo Docker installation and a fresh bakerydemo virtualenv installation. Same thing. Everything else works fine.

Any help greatly appreciated.

[2018-07-15 08:13] gasman commented on #209
Thanks for the report @gabrielwolf! Have fixed this in #210.

[2018-07-15 08:17] #209 closed

[2018-07-15 11:39] gabrielwolf commented on #209
Thank you @gasman. Works here as expected.

[2018-07-20 06:31] tannerrimes12 opened #211 "Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-install"
When I try to install the requirements.txt i get this error. Does anyone know how to solve it?

[2018-07-20 06:39] tannerrimes12 commented on #203
Same issue, although removing uwsgi did no work for me.

[2018-07-20 06:42] gasman commented on #211
Please can you paste in the full "Complete output from command python setup.py egg_info:" of the error?

[2018-07-20 06:46] tannerrimes12 commented on #211
Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-install-owbpps6e/l18n/

[2018-07-20 06:49] tannerrimes12 commented on #211
There was a guy who had an issue with the same command error, but he said he fixed it by editing the requirements/production.txt file. He removed the uwsgi from the file. So I tried to do the same, but still received the error.

[2018-07-20 06:51] gasman commented on #211
Is there really nothing else displayed, other than that one line?

[2018-07-20 06:53] tannerrimes12 commented on #211
Here is what is displayed from when its attempting to collect the l18n

Collecting l18n (from wagtail<2.2,>=2.1->-r base.txt (line 7))
  Using cached https://files.pythonhosted.org/packages/1d/a9/c514038919f430a9b748e31be06e3b365b1e4a4c1aa04b3990a9870df38d/l18n-2016.6.4.zip
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line

[2018-07-20 06:58] gasman commented on #211
This is a known issue with the "l18n" package - please see https://groups.google.com/d/msg/wagtail/X5d8CL3DxUs/XPcMUrrYBQAJ for the fix.

[2018-07-20 06:58] #211 closed

[2018-07-20 07:04] tannerrimes12 commented on #211
Is the fix inside the google discusion or the gitHub link?

[2018-07-20 07:13] tannerrimes12 commented on #211
I'm sorry i'm kind of new at this. I can't quite find what I need to do to get rid of that error.

[2018-07-20 07:25] gasman commented on #211
Try running the command:

    export LC_ALL=en_US.UTF-8

[2018-07-20 07:43] tannerrimes12 commented on #211
I get export

bash: warning: setlocale: LC_ALL: cannot change locale (en_US.UTF-8)

[2018-07-20 07:50] gasman commented on #211
Afraid I can't help further, as this is an issue with the l18n package and your operating system rather than an issue with Wagtail - I'd suggest using one of the alternative installation methods listed in https://github.com/wagtail/bakerydemo#installation.

[2018-07-20 08:22] tannerrimes12 commented on #211
Hey man, thank you so much! I finally got that little snippet of code to not produce an error, and it worked! My step dad who is a professional app developer and uses linux as his base computer, has been trying to help me with this problem for over 6 hours, but he thought it was my build. Since i'm running crouton inside of ChromeOS. Well thank you so much man!

[2018-07-20 20:16] officerebel opened #213 "ImportError: No module named dotenv"
I get an error with installment in virtualenv
./manage.py migrate
Traceback (most recent call last):
  File "./manage.py", line 5, in <module>
    import dotenv
ImportError: No module named dotenv

[2018-07-20 20:55] gasman commented on #213
Hi @officerebel,
`dotenv` should have been installed as part of the `pip install -r requirements.txt` step. Were there any errors shown during that step? If you run `pip freeze`, is `django-dotenv` listed in the output?

[2018-07-20 21:47] officerebel commented on #213
pip uninstall python-dotenv did the job django had dot env also. But now the project runs and a only see the homepage. Welcome to your new Wagtail site! Not the bakery.

[2018-07-20 21:53] gasman commented on #213
Sounds like you've missed the `./manage.py load_initial_data` step.

[2018-07-21 04:05] jotaemei opened #214 "Wrong field name referred to in locations.models.OperatingHours.__str__()"
I'm not aware of this bug causing any erroneous program behavior. It's just something I found while reviewing the code:

[code]

https://github.com/wagtail/bakerydemo/blob/1fdf3411dba22a3aedbfb63f812c1a34cd2c632b/bakerydemo/locations/models.py#L59

Line 59 should read "closed = self.**_closing_**_time.strftime('%H:%M')" instead of "closed = self.opening_time.strftime('%H:%M')"

[2018-07-21 10:53] officerebel commented on #213
Great got it running. Now the css seems to be missing. I see no errors in the browser. Do I have to load the styling too? And where can I read more a about what ./manage.py load_initial_data does? And where it gets it data from.

[2018-07-21 11:00] #213 closed

[2018-07-21 23:14] jotaemei commented on #214
Thanks, @daaray !

[2018-07-21 23:14] #214 closed

[2018-07-28 17:13] tannerrimes12 opened #217 "How do I change the Wagtail Dashboard name from Welcome to the bakerydemo Wagtail CMS"

[2018-07-28 17:39] gasman commented on #217
Hi @tannerrimes12 - please use the [Wagtail tag on Stack Overflow](https://stackoverflow.com/questions/tagged/wagtail) for support queries.

[2018-07-28 17:39] #217 closed

[2018-08-26 20:08] Meteor0id opened #218 "Demo not suitable for Windows, due to using uwsgi an django-dotenv"
Following the virtualenv instructions, users will hit errors.
uwsig will fail to install, since os.uname() is not available in the Windows version of Phython.
Further more the module dotenv cant be loaded (even when installing djanog-dotenv or python-dotenv)

It would probably be a good idea to allow windows users to try out Wagtail, and make sure they dont hit errors before having tried Wagtail.

[2018-08-31 22:13] vbt101 commented on #185
I am seeing the same issue on master. One thing I noticed was the following error during the Docker setup. I have not confirmed this is related.

[code]

[2018-08-31 22:19] vbt101 commented on #185
As a workaround, after completing the initial Docker setup, I re-ran the following 2 commands. This fixed the login for the admin page, and also allowed the homepage to load with the expected content.

[code]

[2018-09-06 18:14] tsgood77 opened #219 "Installation following virtualenvwrapper instructions fails"
Performed the following:

Updated to current virtualenv        16.0.0
Updated to current virutalenvwrapper 4.8.2
mkvirtualenv wagtailbakerydemo
Changed to my dev directory ~/wagtail
cd bakerydemo/
git clone https://github.com/wagtail/bakerydemo.git
**pip install -r requirements.txt**
Installing requirements failed with the following exception:

Collecting Django<2.1,>=2.0 (from -r requirements/bas

[2018-09-06 18:38] tsgood77 commented on #219
Discovered Django 2.x is not supported using Python 2.x.
Did the following:
pip3 install -r requirements.txt

And this worked to install a number of the required packages before it failed on psycopg2 which I will research and, if necessary, open a separate issue.

As for the documentation for performing the virtualenv installation, I think this should be updated/clarified.

[2018-10-11 05:45] hammygoonan opened #220 "Heroku build failing."
There seems to be an issue with the Heroku build which I thought you might like to know about. The 'magic' button isn't working. Here' the log from Heroku:

[code]

[2018-10-16 11:58] gasman commented on #220
Thanks for the report @hammygoonan! Fixed (by upgrading wsgi) in fa0610fa9fdfb2acbcd60b999a0eea027d41a345.

[2018-10-16 11:58] #220 closed

[2018-10-16 13:28] gasman commented on #148
This is a known limitation of the current version of `django-modelcluster`, which will be fixed by https://github.com/wagtail/django-modelcluster/pull/102.

[2018-10-16 13:28] #148 closed

[2018-10-27 07:53] gasman commented on #219
Thanks for the report @tsgood77! I've now updated the virtualenv setup instructions (in #221) to address these issues, and the Python 3.7 compatibility issues have been dealt with in #222 (although we now skip awscli anyway by using requirements/base.txt rather than production.txt - it's only required for Heroku deployments). Python 3.7 isn't listed in the 'dependencies' section because we won't o

[2018-10-27 07:53] #219 closed

[2018-10-27 07:58] gasman commented on #218
Hi @Meteor0id - I've now updated the virtualenv installation instructions to skip installing uwsgi, as that was only really needed for Heroku deployment. Afraid I don't have a Windows setup to hand, so I can't investigate what's failing with dotenv - happy to consider any suggestions for fixing this, though.

[2018-10-28 14:12] shurph opened #223 "Is elasticsearch 2.4 supported by AWS t2.micro.elasticsearch?"
In AWS docs the maximum allowable version for `t2.micro.elasticsearch` is **2.3**:
https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/aes-supported-instance-types.html

But currently bakery demo is using version **2.4**: https://github.com/wagtail/bakerydemo/blob/563d580/requirements/base.txt#L3

Unfortunately I don't have access for now to any AWS console to check this, but i

[2018-10-29 08:12] gasman commented on #223
2.4.1 is the Python library version, and as I understand it the API is stable across major releases, so using the 2.4.1 library with a 2.3 server should be OK.

In any case, I suggest that we don't bother supporting EC2 for bakerydemo at all. As far as I can see, it's not been documented beyond a few notes in settings/production.py; we aren't actively testing it when we make changes to the code; a

[2018-10-30 20:13] shurph commented on #223
@gasman,

Or they may use it to test this functionality during some development.

But at the same time I totally agree with you that worrying about supporting EC2 for bakery demo is not the first priority thing (even it's not the second priority :-) ).

[2018-11-01 11:46] gasman commented on #223
Closing as there's no action to be taken here - the EC2 elasticsearch config in settings/production.py isn't being actively tested, but it's not doing any harm to keep it in there.

[2018-11-01 11:46] #223 closed

[2018-11-13 12:18] crabbitqq opened #227 "How should I change html template"
I'm trying to customize this project but I cannot find how to change header of the site.
Tried to edit bakerydemo/bakerydemo/templates/includes/header.html with no effect.
I'm using docker for installation.

[2018-11-13 12:45] crabbitqq commented on #227
HI
I'm just trying to edit  `<a href="/" class="logo">The Wagtail Bakery</a>`
in
[code]

[2018-12-20 23:00] yurman-cc opened #228 "Time to upgrade to bootstrap 4?"

[2018-12-20 23:56] gasman commented on #228
We'd be happy to consider a pull request for this if you're willing to submit one :-) Are there any particular advantages we'd gain from the upgrade?

[2019-01-18 12:53] thibaudcolas commented on #168
The changes from this branch are up on https://bakerydemo-thibaudcolas3.herokuapp.com/admin/pages/65/edit/, with Wagtail 2.3, and some same content.

[2019-02-13 16:30] YuriyOrlov opened #229 "Wagtail docker demo cannot load initial data"
I've built container, but when I've tried to load initial data this is what happend
[code]
But Pillow lib was collected and installed properly
[code]
but if you run
[code]
it says, that Pillow already installed
[code]

Any suggestions ?

[2019-02-23 14:51] fred104 commented on #229
I encountered the same issue and have a fix for that. Check this PR. https://github.com/wagtail/bakerydemo/pull/230

[2019-03-01 11:41] gasman commented on #229
Fixed in #230

[2019-03-01 11:41] #229 closed

[2019-03-13 17:24] thibaudcolas commented on #168
I have removed `allthethings` block in favor of #231. I don't think this PR is a good solution to this issue in its current state (too many things included), but it's probably a good start if someone wants to take a stab at this and figure out what it would make sense to include.

[2019-06-13 12:57] ChrisVanBael commented on #218
I touched upon this issue also.
Errors I had when running  docker-compose run app /venv/bin/python manage.py load_initial_data:
First:
 Downloading https://files.pythonhosted.org/packages/7b/7c/c9386b82a25115cccf1903441bba3cbadcfae7b678a20167347fa8ded34c/pyasn1-0.4.5-py2.py3-none-any.whl (73kB)
ERROR: botocore 1.12.33 has requirement urllib3<1.25,>=1.20; python_version >= "3.4", but you'll have ur

[2019-07-02 08:45] fyls opened #234 "Hi, the command "docker-compose run app /venv/bin/python manage.py load_initial_data" runs with error."
Hi, the command "docker-compose run app /venv/bin/python manage.py load_initial_data" runs with error.
"....
ImportError: Error loading shared library libexpat.so.1: No such file or directory (needed by /usr/local/lib/python3.5/lib-dynload/pyexpat.cpython-35m-x86_64-linux-gnu.so)
"
You should add requrement to Dockerfile
"expat-dev" into "RUN set -ex \ && apk add --no-cache --virtual .build-deps "

[2019-07-02 11:35] johnraz commented on #234
Hello @fyls, could you give my branch a go (#235)?

Building the docker image should work now.

Thanks!

[2019-07-02 18:37] FlorianLudwig opened #236 "docker-compose fails with Error loading shared library libexpat.so.1"
[code]

[2019-07-02 18:40] gasman commented on #236
Hi @FlorianLudwig - thanks for the report. This was reported earlier in #234 and is hopefully fixed in #235.

[2019-07-02 18:40] #236 closed

[2019-07-05 17:00] kptac commented on #234
@johnraz - updated to 3.7-alpine and added expat-dev, rebuilt, but I get this error when loading initial data:

bakerydemo_db_1            ... done                                                                            Starting
bakerydemo_elasticsearch_1 ... done
standard_init_linux.go:207: exec user process caused "no such file or directory"

[2019-07-16 02:01] pwhipp opened #237 "Trying the demo - 'search the site' not working as expected"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Trying the current wagtail bakery demo. Use search on "anpan" or "dough" and it yields a page not found error.

### Steps to Reproduce

As above

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?

* I have confirmed that this issue can be reproduced as describ

[2019-07-16 15:53] FlorianLudwig opened #238 "Memory usage"
Is it expected behavior that the app container needs 8gb of ram?

[2019-07-20 22:29] #234 closed

[2019-07-20 22:30] thibaudcolas commented on #234
@kptac this seems to be working for me, sticking with the existing image except for the addition of `expat-dev`.

[2019-07-20 22:39] thibaudcolas commented on #238
Hey @FlorianLudwig 👋 could you explain what container you’re referring to and how you’re measuring this?

For me locally `docker stats` reports the app container at `155MiB`, and I know that outside of Docker the bakerydemo easily runs in Heroku dynos capped at 500MB.

[2019-07-21 10:53] FlorianLudwig commented on #238
Hi @thibaudcolas,

I am referring to the container created by docker-compose.

what I did was, following the readme:
[code]

It wasn't that straight, i had to fiddle a little:

 * the first build didn't work, I had https://github.com/wagtail/bakerydemo/pull/235 applied
 * starting elastic search failed because `vm.max_map_count` was to low.

So the order in which the containers started and restart

[2019-07-21 10:53] #238 closed

[2019-07-23 13:09] thibaudcolas commented on #238
👍 I’ll keep this in mind if other people notice high memory usage.

[2019-07-24 11:10] thibaudcolas commented on #185
This seems to be working fine for me while looking at #233 so I’ll close this now, can reopen if the issue reappears. Please copy/paste the relevant logs from the Docker build or runtime errors from Django when reporting issues like this.

[2019-07-24 11:10] #185 closed

[2019-07-24 11:12] thibaudcolas commented on #186
This seemed to work fine for me when testing the Docker build as part of #233. I’m on macOS but that’s about the only difference 😕. @spapas let me know if you’re still having the issue with a fresh build and I’ll reopen.

[2019-07-24 11:12] #186 closed

[2019-07-24 11:17] thibaudcolas commented on #237
Hey @pwhipp, thanks for the report. Could you add the following details?

- How you’re running the demo – Vagrant, Docker, virtualenv
- What operating system you’re using
- Is there any output displayed in the terminal when making those searches?

[2019-07-28 10:23] thibaudcolas opened #242 "Demo site should work without an internet connection"
Without an internet connection, the bakerydemo website looks broken. This is because it relies on CDNs to load its JS (jQuery, Bootstrap), stylesheet (Bootstrap), fonts (Google Fonts), and icons (Font Awesome).

I think it would be important for a basic demo site not to assume users will have a (stable) internet connection, and work standalone.

Here is what it looks like at the moment:

![bakeryd

[2019-08-05 17:04] NeolithEra opened #243 "Potential dependency conflicts between bakerydemo and urllib3"
Hi, as shown in the following full dependency graph of  **_bakerydemo_**, elasticsearch==2.4.1 requires _**urllib3>=1.8, <2.0**_， while the installed version of **_requests_**(2.22.0) requires _**urllib3>=1.21.1,<1.26**_.

According to pip's _“first found wins”_ installation strategy, _**urllib3 1.25.3**_ is the actually installed version.

Although the first found package version _**urllib3 1.25.

[2019-08-05 17:06] NeolithEra commented on #243
### Solution
1.	Add urllib3<1.26,>=1.21.1 as a direct dependency in your requirements.txt to remove the conflict.

Build a good dependency ecosystem for python projects is our common goal ^_^.

@heymonkeyriot May I pull a request to solve this issue?

[2019-08-05 17:17] gasman commented on #243
Hi @NeolithEra - thanks for the report. I wasn't aware of [this pip limitation](https://github.com/pypa/pip/issues/988) until now, but what you propose sounds correct. A pull request would be very welcome!

[2019-08-06 14:20] gasman commented on #243
Fixed in #244

[2019-08-06 14:20] #243 closed

[2019-08-09 23:47] benhadad commented on #218
I just ran into the same issue on windows. Up until the last issue with the missing directory, there were errors but the process continued.

docker-compose run app /venv/bin/python manage.py load_initial_data

I can tell part of the issue is when I look in the directory there is not "load_initial_data" file that I can see is available?  Manage.py calls for a file that doesn't exist.

[2019-08-09 23:50] benhadad commented on #207
Wouldn't this also help solve the problem with running it on windows where the data doesn't load.

[2019-08-10 06:31] benhadad opened #245 "Issue with Docker on Windows, Issue with missing directory or file. "load_initial_data""
I just ran into the same issue on windows. Up until the last issue with the missing directory, there were errors but the process continued.

docker-compose run app /venv/bin/python manage.py load_initial_data

I can tell part of the issue is when I look in the directory there is not "load_initial_data" file that I can see is available?  Manage.py calls for a file that doesn't exist.

_Originally p

[2019-08-10 06:33] benhadad commented on #245
http://docs.wagtail.io/en/v2.5.1/getting_started/tutorial.html

[2019-08-10 09:00] gasman commented on #245
Closing as a duplicate of #218 - please don't open multiple tickets for the same issue.

[2019-08-10 09:00] #245 closed

[2019-08-10 13:42] supersexy opened #246 "Please keep the demo app in sync with the latest Wagtail version"
The [demo app](https://github.com/wagtail/bakerydemo) is **essential** in trying to better understand the Wagtail CMS concept, what comes out of the box, what is part of Django and what I must build myself - a tedious and complicated thought process.

It therefor is very important that the demo app is in sync with the current release of Wagtail - as a new user / developer - and that is the target

[2019-08-10 13:52] supersexy opened #247 "Unclear about Wagtail Features in the demo app"
It is not clear if the [demo app](https://github.com/wagtail/bakerydemo) is meant to show **all** features of Wagtail in a "kitchen sink demo" style or if it is missing important features.

The demo "About" page itself contains a list of features that is very helpful, but also at the end the two words "lots more", which is absolutely not helpful.

It would be very important for new developers to b

[2019-08-10 16:44] thibaudcolas commented on #246
Hey @supersexy, thanks for raising this. I’ve transferred the issue to the bakerydemo’s issue tracker because it feels more relevant to that project than Wagtail core.

We’re of course not keeping the demo out of sync on purpose – it just happens that we’ve had a new release of Wagtail only a few days ago, and no one has updated the demo yet. If you or anyone else wants to make a pull request to d

[2019-08-10 16:57] thibaudcolas commented on #247
Hey @supersexy 👋

This demo site is not meant to demonstrate all of the features of Wagtail, it’s only meant to demonstrate common features for a relatively small site. I would assume "lots more" in the About page refers to things that are not worth listing because they are relatively minor.

We’ve discussed _how much_ the bakerydemo should cover in the past and decided it shouldn’t be a "kitchen

[2019-08-12 11:19] gasman commented on #246
Now updated (in c18b690b3e2a25e32a3185bd69491cc153a52689). Have also updated the [Wagtail release checklist](https://github.com/wagtail/wagtail/wiki/Creating-a-new-Wagtail-release) so that updating bakerydemo is included in future.

[2019-08-12 11:19] #246 closed

[2019-08-27 19:54] linuxsoftware opened #248 "block head-extra definition in includes/head.html"
In the included template file includes/head.html is the definition for a block
[code]

This could confuse people into thinking Django will process blocks in included files, when it will not.

head-extra is also defined again in base.html.  This is the definition (which is outside the head element) is the one used by any template that extends base.html.

[2019-09-08 04:13] rblcoder commented on #247
Hi, @thibaudcolas are the changes up to the mark?

[2019-09-10 09:29] #247 closed

[2019-09-10 09:30] thibaudcolas commented on #247
Thanks @rblcoder 🙂.

[2019-10-11 20:58] easherma opened #257 "Heroku deployment appears broken?"
[odd-bakery-logs-1570827487361.txt](https://github.com/wagtail/bakerydemo/files/3719588/odd-bakery-logs-1570827487361.txt)

[2019-10-11 22:50] gasman commented on #257
Have just tried the [one-click deployment](https://github.com/wagtail/bakerydemo#deploy-to-heroku) link, and it claims to have started up successfully, but accessing any page is failing with: "An error occurred in the application and your page could not be served. If you are the application owner, check your logs for details." There's nothing meaningful in the logs I get from `heroku logs` though

[2019-10-11 22:56] gasman commented on #257
Never mind - I am indeed now seeing the same uWSGI segfault when I have `https://dashboard.heroku.com/apps/<appname>/logs` open while fetching a page in another tab. Thanks for the report!

[2019-10-14 16:26] easherma commented on #257
No problem, @gasman! Any idea what might be causing this? I tried a couple things, but I'm less familiar with this repo (we just like to have it deployed to remind of us of how we've deviated from vanilla Wagtail), but I'm happy to help figure out whats going on.

[2019-10-14 23:40] #257 closed

[2019-10-18 14:41] cscheer01 opened #259 "Pillow 4.0.0"
I'm running the requirements with pip:
`pip install -r requirements/base.txt`

Having the following error when

I'm running on Windows and I had build zlib from source to get Pillow 6.2.0 to install but it doesn't appear to be working for Pillow 4.0.0 which is in base.txt.

What version(s) of Pillow will the demo will support?

[2019-10-23 14:07] gasman commented on #259
Hi @cscheer01 - thanks for the report! Yep, the reference to 4.0.0 is definitely out of date - have now updated that to 6.2 in fecf702b65266cd47b133616f12bbc7aac2920e6.

[2019-10-23 14:07] #259 closed

[2019-11-01 06:12] spapas commented on #218
It runs fine in my Windows 10 using the virtualenv method; just install the `base` requirements.

[2019-11-06 14:10] #242 closed

[2020-03-06 22:52] ozcanyarimdunya opened #264 "Internationalization by duplicating the page tree"
I didn't find any useful information or code about  internationalization on wagtail by duplicating the page tree.

Any plan for adding internationalization ?

[2020-03-09 10:06] zerolab commented on #264
Hi @ozcanyarimdunya,

The previous versions on Wagtail docs had a section on internationalisation (e.g. https://docs.wagtail.io/en/v2.6.3/advanced_topics/i18n/duplicate_tree.html) however those were removed as they were stale and incomplete. See https://github.com/wagtail/wagtail/commit/16bf4cac56684401734201c9bf2aa7d9ce583ac3#commitcomment-35950050 for more details

+ you can find blog posts that

[2020-03-09 10:06] #264 closed

[2020-05-07 20:34] #139 closed

[2020-05-31 03:23] doublo7 opened #267 "a bug that causes bakerydemo fail"
when you just go to http://127.0.0.1:8000/django-admin/
the server fails and stops.

[2020-05-31 05:18] #267 closed

[2020-06-15 19:52] Baschdl opened #269 "Relation "wagtailredirects_redirect" doesn't exist when loading initial data"
`docker-compose run app /venv/bin/python manage.py load_initial_data` fails with
[code]

[2020-06-21 14:40] Amondale commented on #218
In Windows/Docker setup, I have found that "generated" images seem to disappear between down and up cycles, and even a load_initial_data won't recreate them. Here is an example from my app logs:

[pid: 16|app: 0|req: 32/53] 172.19.0.6 () {44 vars in 888 bytes} [Sun Jun 21 14:26:47 2020] GET /media/images/**bakingsoda.2e16d0ba.fill-430x254-c100_OImoI29.jpg** => generated 6595 bytes in 87 msecs (HTT

[2020-06-21 14:53] Amondale commented on #218
For the above issue, the workaround for me was to run:

- docker-compose down

-

[2020-06-29 11:34] gasman commented on #269
I'm unable to replicate this on a fresh bakerydemo install following the steps in the readme. This error would indicate that either migrations failed during the `docker-compose up --build -d` step, or the database was cleared after that step. One setup where the latter might possibly happen is a site on Heroku (which uses a non-permanent filesystem) with a sqlite database - however, without more d

[2020-06-29 11:34] #269 closed

[2020-07-13 19:35] Amondale opened #271 "Sporadic missing renditions"
According to [this ](https://docs.wagtail.io/en/v2.9.2/advanced_topics/images/renditions.html)Wagtail documentation:

Rendered versions of original images generated by the Wagtail {% image %} template tag are called “renditions”, and are stored as new image files in the site’s [media]/images directory on the first invocation.

However I currently am getting sporadic 404 errors such as the followin

[2020-07-13 19:48] Amondale commented on #271
When I modify the /bakerydemo/bakerydemo/settings/base.py as follows the 404 issue goes away?

STATICFILES_DIRS = [
    os.path.join(PROJECT_DIR, 'collect_static'),
    os.path.join(PROJECT_DIR, 'media'),
]

If anyone has an idea why this solves the issue, perhaps this can be closed, or the solution added to README.md

[2020-07-14 10:39] gasman commented on #271
Without details of your setup or steps to reproduce this issue, it's hard to advise on this. However, given that the `collect_static` directory is coming into play (which would not be applicable to a local instance running `./manage.py runserver` with development settings), my best guess is that you're running in an environment such as Heroku with a non-persistent file system, and the image files

[2020-07-14 10:39] #271 closed

[2020-07-26 19:35] sowinski opened #273 "Bug in requirements.txt?"
Hi,

I get this error while trying to install the venv for this demo.

[code]

[2020-07-26 19:54] gasman commented on #273
Hi @sowinski - it's all working fine here. If Django 3.0 is not showing up in the list, that most likely means that your active environment is running python 2.x rather than 3.x. (Check the version returned by `pip3 --version`.)

[2020-07-26 19:54] #273 closed

[2020-07-27 10:51] sowinski commented on #273
I am running python 3.5.2
1) According to the docs it should work?
2) pip3 install -r requirements/base.txt << With pip3 you can not use python2.7 even it is installed

[2020-07-27 11:02] gasman commented on #273
Ah yes - sorry, the Python version range in the readme was out of date. Django 3.0 dropped support for Python 3.5, and while current versions of Wagtail are compatible with Django 2.2, the bakerydemo project always uses the latest Django version. Updated now in b281b72010e2cb1e1b901690ec99034180637285.

[2020-10-15 09:20] kaedroho opened #279 "Default django-cache-url config causes routing issues on Heroku"
https://github.com/wagtail/bakerydemo/blob/e82c84b6a3c10006cf2e4f07b7a8dcb972ab6731/bakerydemo/settings/production.py#L45

The default is `locmem`, which is problematic for 12 factor apps and causes URLs to break after publishing pages. We should either change the default to "dummy" or remove this app (surprisingly, it has only 1 star on github! https://github.com/epicserve/django-cache-url)

[2020-10-17 12:38] wernerm opened #280 "Error when running docker-compose"
running `docker-compose up --build -d` fails (tested on Ubuntu 18:04).

[code]

[2020-10-19 08:57] gasman commented on #280
Hi @wernerm - thanks for the report.
I've just tried the docker setup steps and was able to bring up the demo site as expected, so I suspect this was some temporary downtime on docker.io or a network issue at your end.

[2020-10-19 08:57] #280 closed

[2020-11-28 18:18] JoanEliot opened #281 "Please consider diversity concerns in the people you portray in your images collection."
Please excuse me, but the people in your images collection are .all. .white. .men. — and they .all. carry the names of African-American blues musicians. Your guys look sharp, and I too wish I could play and sing like Robert Johnson or Howlin Wolf, and live with their vitality, but I found myself feeling a small shock as I glanced over the images and saw only these faces, and then greater shock whe

[2020-11-28 18:35] JoanEliot opened #282 "Error attempting to publish edits of gallery page"
I'm new to Wagtail and pretty new to Django but the bakery demo is already running fine here (on Windows 10, with a conda as my virtual environment).

My problem: In Wagtail admin, just getting my feet wet by seeing what happens when I change things a little, I'm unable to publish the included Gallery page or new Gallery pages unless I add content in the Page Body section. If, for example, I chang

[2020-11-29 00:25] tomdyson commented on #281
Hi @JoanEliot, thanks for this.

The four photos are of the four people who built the bakery demo, over two days at a Wagtail community sprint in Iceland in 2016. IIRC the original idea was to mock up a music site, but they switched to a bakery on the grounds that bread making was one of the most culturally universal activities the team could think of. I guess the names were a hangover from the in

[2020-11-29 23:44] JoanEliot commented on #281
Appreciate your response, and understand how you got there. Hope that "should have thought..." expresses something like, "will now think... and make appropriate revisions."

[2020-11-30 01:18] JoanEliot opened #283 "Explanation of this project's structure versus the 'wagtail start' structure?"
[Wagtail central tells ](https://docs.wagtail.io/en/v2.11.2/getting_started/demo_site.html) newcomers to use `wagtail start` and also to refer to this demo, but the two resources seem to involve wildly different project structures. This novice is confused.

Is there a document that compares and contrasts the two (types of) structures and explains how to switch between them? How do we take the outp

[2020-11-30 09:56] zerolab commented on #282
@JoanEliot you need to add at least one block for the "page body" field.
Do join the Wagtail community Slack - https://github.com/wagtail/wagtail/wiki/Slack, there is a `#support` channel for this type of questions and more!

[2020-11-30 10:07] gasman commented on #282
It sounds like the default content in the demo doesn't pass the demo's own validation, which I'd count as a legitimate bug.

[2020-12-04 20:13] WhyNotHugo opened #284 "Building the docker image fails with current pip"
[code]

This is due to the new pip [dependency resolver](https://pyfound.blogspot.com/2020/11/pip-20-3-new-resolver.html).

Previously, `pip` installed conflicting versions of dependencies. The new resolves avoids this behaviour at flat-out fails, hence:

[code]

The version of either [either `botocore` or `boto3`](https://github.com/wagtail/bakerydemo/blob/master/requirements/production.txt#L10-L

[2021-01-04 16:30] gasman commented on #284
Fixed in #285.

[2021-01-04 16:30] #284 closed

[2021-02-04 06:20] BrianXu20 opened #287 "Heroku python runtime not found"
This appears when I try to deploy it on Heroku (Manually & one-click deployment):

![Screen Shot 2021-02-04 at 1 43 28 PM](https://user-images.githubusercontent.com/73645085/106852906-cd287980-66f3-11eb-9d77-7ede76af9edf.png)

And this is the official Supported runtimes document:
https://devcenter.heroku.com/articles/python-support#supported-runtimes

![Screen Shot 2021-02-04 at 2 15 49 PM](https:

[2021-03-03 15:11] thibaudcolas commented on #287
Fixed in #288.

[2021-03-03 15:11] #287 closed

[2021-03-09 12:40] enzedonline opened #289 "Dotenv syntax warning on fresh install"
Hi,
Just followed through the installation instructions, installed into venv environment.
I get a warning message:
[code]
Win10 environment.

[2021-03-30 06:13] nRookie commented on #289
Hi @enzedonline ,
I encounter the same warning here in Win10.

In my case, the .env file encoding is utf-16. after I change the .env file encoding to the utf-8. the problem is solved.

[2021-04-03 19:00] enzedonline commented on #289
@nRookie  - thanks. Tried that with the same issue but then just created a new .env file and works fine now. Cheers.

[2021-04-23 12:12] Niqnil opened #291 "standard_init_linux.go:219: ERROR: 1 with bakerydemo Setup with Docker"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

I tried to setup the bakerydemo with Docker following [https://github.com/wagtail/bakerydemo#setup-with-docker](url) and ran into this issue.
standard_init_linux.go:219: exec user process caused: no such file or directory
ERROR: 1

### Steps to Reproduce

The error happens in step 4. More details below.
`docker-compose run app

[2021-04-30 15:50] gasman commented on #291
Hi @Niqnil - thanks for the report.

From a few Google search results about this error (https://futurestud.io/tutorials/how-to-fix-exec-user-process-caused-no-such-file-or-directory-in-docker, https://www.javaer101.com/en/article/59042906.html), it seems that this can be caused by the Dockerfile being converted to the wrong line endings when checked out on Windows. It looks like it might be possib

[2021-05-03 01:14] Niqnil commented on #291
Thanks for responding. I solved it using `git config --global core.autocrlf true`

[2021-05-03 01:14] #291 closed

[2021-08-07 12:27] wolfpirker opened #297 "inquiry about the license of this project"
Hello,

around 2 1/2 years ago I started a wagtail project, and when I developed it, I was quite much orientating and using some code of bakerydemo. I uploaded my project on Github and deployed it as demonstration on Heroku, but I don't use it in any way commercially. Just recently I was asked about the license of the wagtail project I developed.

I know it would have been a better idea, to ask ab

[2021-08-07 12:47] Scotchester commented on #297
Oops! We should probably have a license on this repo, eh?

I am not, by myself, an authoritative voice on this, but I would guess that the license should be the same as [the Wagtail project itself](https://github.com/wagtail/wagtail/blob/main/LICENSE), the BSD 3-Clause "New" or "Revised" License.

As a practical matter, many of the members of this community have liberally borrowed parts of the cod

[2021-08-08 11:58] wolfpirker commented on #297
ok that is good to know. Thank you for your reply.
I will leave that issue open some more days, in case someone else wants to reply.

[2021-08-09 10:16] gasman commented on #297
Thanks for raising this, @wolfpirker! Have now added the BSD licence in d3e8caedd728b7770b1bef917a7cb4f157ad20c7.

[2021-08-09 10:16] #297 closed

[2021-08-11 01:48] Amondale opened #298 "TUE versus TUES, THU versus THURS"
Here on the Pacific Coast of the USA, I have tried adding a few of our local bakeries in Portland, OR [amondale/bakerydemo_nginx:app] and they stay closed all the time? It seems to be a Docker-specific issue, I changed settings/base.py to the following snippet:

LANGUAGE_CODE = 'en-us'

TIME_ZONE = 'America/Los_Angeles'

USE_I18N = True

USE_L10N = True

USE_TZ = True

as well as added the followi

[2021-08-12 15:22] Amondale commented on #298
<img width="528" alt="lovejoy" src="https://user-images.githubusercontent.com/8033475/129223351-9c17084a-e042-4ff9-b105-dad75d89e2c2.PNG">
<img width="481" alt="models" src="https://user-images.githubusercontent.com/8033475/129223367-58e14baa-ccfc-4fb3-80cd-dbbfeac73934.PNG">
<img width="534" alt="models2" src="https://user-images.githubusercontent.com/8033475/129223383-11c51323-17de-4963-bab9-623

[2021-08-12 16:30] Amondale commented on #298
AHA! This fixed the issue:
[locations/choices.py]
DAY_CHOICES = (
    ('MON', 'Monday'),
    ('TUE', 'Tuesday'),
    ('WED', 'Wednesday'),
    ('THU', 'Thursday'),
    ('FRI', 'Friday'),
    ('SAT', 'Saturday'),
    ('SUN', 'Sunday'),
)

Evidently the use of TUES and THURS versus TUE and THU was an issue when it hit the equate in models.py:

current_day = now.strftime('%a').upper()

I validated th

[2021-08-14 23:06] Amondale opened #300 "how do I fix "admin css" scaling issue"
I've noticed, since upgrading to wagtail 2.0 and django 3.2, the admin icons are all scaled wrong/huge.

 Is there a manual way to fix this?

[2021-08-14 23:40] Amondale commented on #300
![image](https://user-images.githubusercontent.com/8033475/129462745-9bb7d419-7869-4442-9ff4-dc816bfd28f1.png)

[2021-08-14 23:41] Amondale commented on #300
this is after collectstatic

[2021-08-14 23:57] Amondale commented on #300
https://stackoverflow.com/questions/64673306/upgrading-wagtail-from-2-9-3-to-2-11-breaks-wagtail-admin-icons looks like I'm not alone

[2021-08-15 00:04] Amondale commented on #300
and it solved the issue to clear browser cache

[2021-08-15 00:04] #300 closed

[2021-08-19 16:53] Amondale commented on #298
I'd like to work on a fork based on this google API:

Maybe call gmaps API with lat/long to get current offset
https://maps.googleapis.com/maps/api/timezone/json?location=12.9716,77.5946&timestamp=1629304488&key=xxxxxxxx

which returns this JSON:
    {
        dstOffset: 0,
        rawOffset: 19800,
        status: "OK",
        timeZoneId: "Asia/Calcutta",
        timeZoneName: "India Standard Ti

[2021-10-19 17:20] kneckinator opened #307 "Docker-compose is specifying the Redis 3.0 image which is not available on ARM"
Th result is that Docker is trying to run an x86 image on ARM (in my case Apple M1) which fails with `runtime: failed to create new OS thread (have 2 already; errno=22)` .

My proposed solution is to change this to use Redis 4.0 (or later) which has official ARM images.

I am not aware of any side-effects of making this change for the bakerydemo and can provide a PR for this change.

[2021-11-23 23:54] juliat commented on #307
This would be great to have; I'm running into the same issue  with Redis 3.0

[2021-12-02 18:31] perastated opened #308 "Title in HomePage model should be not null"
## Issue
Avoid using `null` on string-based fields such as CharField and TextField.
If a string-based field has null=True, that means it has two possible values for `no data`: NULL, and the empty string.
* See: https://docs.djangoproject.com/en/3.0/ref/models/fields/#django.db.models.Field.null

This is also followed in Wagtail, check this fix: https://github.com/wagtail/wagtail/commit/eb9cff7bf38

[2021-12-26 05:55] vihaanthora commented on #308
@perastated can I go ahead and fix this issue? Is there any need to assign this issue to me so that I can make the required Pull Request?
Thank You

[2021-12-26 06:13] perastated commented on #308
Hi @vihaanthora, thanks for volunteering to fix it!

I am not the maintainer of this repo, but please go ahead and submit the required PR as you want.
You may find the instructions here: https://github.com/wagtail/bakerydemo/blob/master/contributing.md

Probably we can also tag @gasman or @lb- to double-check and give advice on this issue/your PR.

[2021-12-26 06:22] lb- commented on #308
Go for it @vihaanthora thanks

[2022-01-12 12:23] vlabeit opened #312 "parent_url() 'NoneType' object has no attribute 'strip'"
I am struggling with that issue already few days and can't find any solution or what is the problem.

after adding the localization to the app all the links in the main "homepage" (i used bakerydemo https://github.com/wagtail/bakerydemo) all are directing only to the english pages.

https://i.imgur.com/EkTvRg3.png

my settings
[code]

on apps
`"wagtail_localize",
    #'wagtail.locales',
    "wagta

[2022-01-12 12:38] gasman commented on #312
Hi @vlabeit - please use the [Wagtail tag on Stack Overflow](https://stackoverflow.com/questions/tagged/wagtail) for support queries, or see [the Support page in the documentation](https://docs.wagtail.io/en/stable/support.html) for other options.

Closing as this isn't an issue with bakerydemo itself.

[2022-01-12 12:38] #312 closed

[2022-01-13 14:32] vlabeit commented on #312
actually it is bakerydemo issue, this file / line / problem does not exist in original wagtail

[2022-02-07 18:55] #308 closed

[2022-02-08 17:16] fabienheureux opened #317 "Deploy with Heroku broken since django 4.0 upgrade"
Since [Django 4.0 upgrade](https://github.com/wagtail/bakerydemo/commit/e94bfbbc994bb3fa6eb2c58dbaec931acd15cedb), it seems that it is impossible to deploy this demo to Heroku with the error below
`ERROR: No matching distribution found for Django<4.1,>=4.0`

Am I the only one to encounter this issue ?

<details>
<summary>
Here is the build log
</summary>

[code]
</details>

Edit : it appears that

[2022-02-08 17:32] fabienheureux opened #319 "Python version outdated in Dockerfile"
Following https://github.com/wagtail/bakerydemo/issues/317, I noticed that python versions were outdated in the Dockerfile.

I can't test locally right now but I think this won't work since https://github.com/wagtail/bakerydemo/commit/e94bfbbc994bb3fa6eb2c58dbaec931acd15cedb as django 4.0 only supports python 3.8 and higher.
- https://github.com/wagtail/bakerydemo/blob/master/Dockerfile#L1
- https

[2022-02-08 17:45] fabienheureux commented on #317
Fixed in the PR above.
Heroku deployments will fail because of the postdeploy script that changed in django 4.0

Fixed in https://github.com/wagtail/bakerydemo/pull/320

[2022-02-08 19:10] gasman commented on #317
Fixed in #318 and #320

[2022-02-08 19:10] #317 closed

[2022-02-08 22:00] gasman commented on #319
Work in progress: https://github.com/gasman/bakerydemo/commit/9b62f421bbd70774124ee0bce223fd707e651299

Current issue is that it's failing on the `update_index` step that I added to the `load_initial_data` management command as part of the 2.16 upgrade (because the new database backend requires it) - the Docker image uses Elasticsearch as the search backend, and I suspect that's been broken for a

[2022-02-10 14:00] fabienheureux opened #321 "Django-storages version is not compatible with django 4.0"
The current version of django-storages requires version < 1.9, which is not compatible with django 4.0.

Here is the error I get with django 4.0
[code]

Is there a compatibility issue with versions >= 1.9 ?

I had a similar issue with boto3 version after upgrading django to 4.0
[code]

I used this branch that pinned boto3 and storages to the latest available versions without issues with django 4.0

[2022-02-14 00:51] itekhi commented on #114
@shacker Oh man, this is exactly my problem now, ran `.get_usage()` on `Image`s in shell, lots of them are not used, but I'm sure they are used in `StreamField`s. I have 60gbs of just Images 😆
Could you please show some example code that could do that in bulk?(I can't even find if it's possible to run dumpdata from python)

P.S. Maybe it's an idea for a management command?

[2022-02-14 10:20] zerolab commented on #114
Hey all,

This is not a trivial thing to solve. #4702 (original #4481) attempts to do it, but it is some way away.
The PR should have enough to allow you to write your own management command though

[2022-02-14 18:05] itekhi commented on #114
@zerolab Thanks a lot! And thank you for your hard work! I see you often in PRs and release logs))

[2022-02-14 18:36] zerolab commented on #114
Oops, the PR number had a leading 7. Updated!

(Also, thank you)

[2022-02-23 19:01] Pomax opened #322 "Can't build the docker instance"
Running the docker compose command, the build errors out citing:
[code]

[2022-02-23 19:12] Pomax commented on #322
Ah, the reason for this is that the docker version still uses Python 3.7 instead of 3.9 or 3.10, so it won't find Django 4.x (which requires 3.8 or higher)

[2022-02-23 19:12] gasman commented on #322
Yep - this is covered by #319.

[2022-02-23 19:12] #322 closed

[2022-02-23 19:25] Pomax commented on #319
I updated the docker file to 3.9-slim with postgres 13.2 and building works fine but loading the intial data crashes on:
[code]
Which makes sense, django 4.x removed support for smart_text (https://docs.djangoproject.com/en/4.0/releases/4.0/#features-removed-in-4-0)

[2022-02-23 19:32] Pomax commented on #319
With redis update to 5.2.0, we get a bit further but the load command still errors out, this time on missing wagtail tables:

[code]

[2022-03-04 12:13] #319 closed

[2022-03-04 12:19] gasman opened #324 "Search broken on Docker build"
As per https://github.com/wagtail/bakerydemo/issues/319#issuecomment-1033103871 and https://github.com/wagtail/bakerydemo/pull/323#issuecomment-1059109905 - the Docker image is configured to use Elasticsearch, and it appears that this has been broken for some time prior to the upgrade to Wagtail 2.16. However, the addition of the `update_index` step to the `load_initial_data` command (to accommoda

[2022-03-10 12:44] gitkaarma opened #325 "Error in setting up Wagtail Bakery demo site on Windows/Mac OS"
### Issue Summary

This is a Windows/Mac specific issue. While setting up Wagtail Bakery demo site, running the command
[code]
generates the following error: -

![image](https://user-images.githubusercontent.com/96700361/157662936-53a699d2-5aa4-486b-8053-06e9459a3e7c.png)

### Steps to Reproduce

1.  Clone a copy of the Wagtail Bakery demo codebase using the following commands: -
`git clone https:

[2022-03-10 12:52] gasman commented on #325
Hi @gitkaarma,
The instructions in the readme tell you to use `requirements/base.txt`, not `requirements.txt`.

[2022-03-10 12:52] #325 closed

[2022-03-26 17:17] vossisboss commented on #324
I removed the Elasticsearch dependencies and references from the Docker compose file in #326. There is still an error related to a missing .env file but the bakery appears to run fine when these pieces are removed. I don't know the pros or cons of why Elasticsearch was added in the first place, but the update I made in #326 at least will get Docker users up and running without Elasticsearch breaki

[2022-03-26 19:09] vossisboss commented on #324
@gasman I'll keep working on removing other references to Elasticsearch per our conversation at sprints today. One question though: It looks like the AWS packages (botocore and aws-requests-auth) as well as django-redis and django_cache_url were mostly added to support Elasticsearch. I think we should keep the AWS settings to give people a relatively easy way to add the demo to AWS, but I'm less s

[2022-03-30 13:49] gasman commented on #324
Fixed in #326.

[2022-03-30 13:49] #324 closed

[2022-04-07 17:28] KalobTaulien opened #328 "Old Python version in Vagrant"
Vagrant is using Python 3.6 which isn't supported by Wagtail 2.16 and Django 4. I think `config.vm.box = "torchbox/wagtail-stretch64"` in `Vagrantfile` needs to be updated, but I'm unsure how to update the VM Box.

This issue doesn't allow Vagrant users to use bakerydemo with Vagrant.

[2022-04-08 17:21] jsma commented on #324
Hi all,

Sorry to comment on a closed issue but I was about to start work on https://github.com/wagtail/docker-wagtail-develop which has this [open todo](https://github.com/wagtail/docker-wagtail-develop/issues/3) to add elastic (the README also says "TODO: Set up an elasticsearch service container").

I setup the `docker-wagtail-develop` project and noticed `backerydemo` installed an old version

[2022-04-08 17:41] gasman commented on #324
@jsma I'd say there's a legitimate case for docker-wagtail-develop to come with an elasticsearch installation so that people can use it to develop and test against that backend, but it shouldn't be a dependency of bakerydemo itself. That's the approach taken by [vagrant-wagtail-develop](https://github.com/wagtail/vagrant-wagtail-develop).

[2022-04-08 18:16] jsma commented on #324
That makes sense. So would the hypothetical PRs then be:

bakerydemo
* bump the current `elasticsearch==5.5.3` to `elasticsearch==7.17.2` or `elasticsearch==8.1.2`

vagrant-wagtail-develop
* update to the latest 7.x or 8.x release of Elasticsearch server

docker-wagtail-develop
* add the latest 7.x or 8.x release of Elasticsearch server

I haven't personally had a chance to work v8 just yet since

[2022-04-08 19:36] gasman commented on #324
No, any remaining references to elasticsearch in bakerydemo should be removed, as per https://github.com/wagtail/bakerydemo/pull/326#issuecomment-1079739177.

Yep. We don't currently support 8.x, and I don't know if anyone's looked into how much work it would be to support. It's also worth noting that Wagtail's support for Elasticsearch 6.x and above is sub-optimal, since they changed the way boos

[2022-04-08 22:10] jsma commented on #324
I see. Per above, we don't use Wagtail's built-in search features at the moment so I wasn't thinking clearly earlier. Note to self: Wagtail works directly with `elasticsearch` and does not use `enterprise-search`.

In our use of enterprise-search, all boosting (aka ["Relevance Tuning"](https://www.elastic.co/guide/en/app-search/8.1/relevance-tuning-guide.html)), synonyms, ["Curations"](https://www

[2022-04-26 08:40] thibaudcolas commented on #281
I believe the changes in #329 were to help with this so I’ll close now.

[2022-04-26 08:40] #281 closed

[2022-04-26 12:08] thibaudcolas commented on #283
Hi @JoanEliot, I’m going to close this now because your feedback seems more geared towards our "Getting started" resources than this demo site in particular. General docs feedback would be better submitted on https://github.com/wagtail/wagtail.

As far as the project structures – Wagtail projects support different structures just like all Django projects, and I don’t think we want to recommend any

[2022-04-26 12:08] #283 closed

[2022-05-31 05:18] Amondale opened #337 "giant orange chevrons?"
git cloned the latest bakerydemo, main bakery page looks ok, but each sub section page has a huge 2000px high grey background with two gigantic orange ">" chevron characters? Below that looks ok. Python 3.9.13 running in pyenv; just the bare bones demo using SQLite3.

I tried using collectstatic (previous versions of bakerydemo sometimes needed this). Not seeing 404s or 500s in the server logs. An

[2022-05-31 06:17] Amondale commented on #337
@thibaudcolas:

Following code change got it looking somewhat normal [templates/tags/breadcrumbs.html]. I'd assume the problem was/is in includes/chevron-icon.html, which is just a container for an SVG containing a chevon? No idea why it renders so huge, but I know nothing about SVG rendering either.

          <li><a href="{% pageurl ancestor %}">{% if forloop.first %}Home{% else %}{{ ancestor }}

[2022-06-01 00:12] Amondale commented on #337
oddly enough, I have another instance where everything works fine! All req'ts are from base.txt, only difference is that the "huge chevron" install is 3.9.13 while the working instance is 3.10.4 ... Not sure which version was used for dev work?

[2022-06-01 01:55] vossisboss opened #338 "Whitenoise is failing to find font files during Docker build"
I'm getting the following error when attempting a local installation in Docker:

[code]

I tested a few variations on the URL paths and they seem to be correct. So I'm not sure why Whitenoise isn't detecting the font files. Some initial research suggests there might be new about the Whitenoise storage classes. I'll poke around some more.

[2022-06-01 03:57] Amondale commented on #337
Looks like I need to clear Firefox' cache between testing two different versions of bakerydemo. All fixed! My first and best clue was opening Firefox in a private window and seeing the expected chrome from Wagtail!

[2022-06-01 03:57] #337 closed

[2022-06-03 08:51] emiliojab opened #339 "How can I make a StreamFieldPanel of featured sections?"
In the demo, there are 3 featured sections in base/models.py.
How can I make them as StreamField? I want to dynamically add featured sections from the cms, just like the body section.

I am new to Django and Wagtail. Any help would be appreciated.

[2022-06-03 13:34] #339 closed

[2022-06-08 13:57] tbrlpld commented on #338
I have this issue too.

[2022-06-15 06:58] liangsqrt commented on #338
me too

[2022-06-15 08:07] gasman commented on #338
Confirmed... looks like this was introduced in 75eab056f09aef5b3440b1d1ea4c04cfb40414e0 (#333). This font file was removed in that PR, but it's still referenced from bakerydemo/static/css/bootstrap.min.css.

[2022-06-20 10:27] #328 closed

[2022-06-20 10:31] gasman commented on #237
Fixed (on Docker) in #326, as per #324.

[2022-06-20 10:31] #237 closed

[2022-06-27 02:20] some1ataplace opened #343 "TypeError at /admin/forms/submissions/69/"
Tried out this demo using a virtualenv and went to admin forms and clicked on contact us and got this error.

[code]

[2022-07-28 08:58] kentang2017 opened #348 "the navbar on mobile version doesnt work"
as title

[2022-07-30 05:17] Amondale opened #349 "nginx w/wagtail hits django 4.x CSRF block on admin site"
with nginx as a frontend to bakerydemo, I give credentials to admin login page, then I get:

Forbidden (403)

CSRF verification failed. Request aborted.
Help

Reason given for failure:

    Origin checking failed - https://wag.test does not match any trusted origins.

I added the following line to base.py in bakerydemo/setttings:

CSRF_TRUSTED_ORIGINS = ['https://wag.test']

Anybody seen this, or

[2022-07-30 10:11] zerolab commented on #349
I suspect this is has to do with https://docs.djangoproject.com/en/4.0/releases/4.0/#csrf

It is very much a Django feature, rather than Wagtail/bakerydemo.

Will mark this as closed. Best to continue the discussion the [#support channel on Slack](https://github.com/wagtail/wagtail/wiki/Slack)

[2022-07-30 10:11] #349 closed

[2022-07-30 22:31] Amondale commented on #349
Think I saw a similar issue raised around the gitpod implementation, now that django 4.x is in the requirements.txt, and gitpod requires TLS/SSL, which is where this CSRF issue is coming from. Not sure why it would be so hard to put the required header notation in Wagtail, I will raise the issue in that GH area, you're right it isn't "bakerydemo-specific."

[2022-07-30 22:42] zerolab commented on #349
It is not that hard. At the same time there are about a million other non hard things to do, alongside harder, more pressing issues :)

Having said that, `CSRF_TRUSTED_ORIGINS` is something the developer should control. While we can add the header (probably based on the Site entries), there are plenty of edge cases to cover that frankly make this less apealling in that it will increase the mainten

[2022-07-30 22:59] Amondale commented on #349
All very good points; I noticed a simple workaround was to access the site over http: which doesn't have CSRF exposure, but does have privacy and MITM concerns. Weird that inserting the CSRF_TRUSTED_ORIGINS into the settings/base.py file didn't solve the issue, so I still feel it might be a Wagtail v. Django misunderstanding rather than a doc issue. Django 4.0 did change the style for that inserti

[2022-08-25 16:41] gasman commented on #282
This was fixed in Wagtail 2.13 - the `blank=True` on the StreamField definition is now sufficient to make an empty stream valid, which was presumably the intention all along - it's no longer necessary to set `required=False` on the block definition too.

https://docs.wagtail.org/en/stable/releases/2.13.html#updated-handling-of-non-required-streamfields

Have confirmed that all pages on a fresh bak

[2022-08-25 16:41] #282 closed

[2022-09-04 08:02] anujaraj opened #356 "Accessibility issues reported through Pa11y testing"
Automated Testing tool : Pa11y
Browser : Chrome
Operating System : Windows 11
Reproducing the issue : You can reproduce the issues using following steps

1.  Install node and pa11y
2.  Create a js file ( [[https://github.com/pa11y/pa11y](https://github.com/pa11y/pa11y)] )
3.  Run the bakery demo site
4.  Run the js file using `node <name_of_the_file>` on the command prompt
5.  Following issues wou

[2022-09-21 10:44] manyacz opened #358 "Please update demo at bootstrap version 5"
Bootstrap v3.3.7  version so old.

[2022-09-29 11:17] hminnovation opened #359 "Fields names on HomePage causes confusion"
On the HomePage model we have created a `promo` section with promo_image, promot_title and promo_text fields (c/f https://github.com/wagtail/bakerydemo/blob/main/bakerydemo/base/models.py#L176)

This is confusing since Wagtail has a promote tab attached to all pages.

Propose renaming to `lead_section` or `featured_section_0` (the latter would potential introduce new confusion since the other feat

[2022-10-10 14:38] buddudevelopers opened #360 "Permission denied: when trying to upload new image"
Hi,
When you try to upload a new image to the dockerized bakery demo, you get permission errors. Any idea how to fix?
`PermissionError: [Errno 13] Permission denied: '/code/bakerydemo/media/original_images/doctor_PNG16010-9237459.png'`

[2022-10-13 20:52] Big-Vi opened #361 "Docker setup - missing step"
Hello,

I was trying to set up the WagTail Demo locally and using the specified commands did setup my environment. But it didn't allow me to log in to the backend(authentication error) until I ran the below command.

`docker-compose run app /venv/bin/python manage.py createsuperuser`

![Screen Shot 2022-10-14 at 9 46 31 AM](https://user-images.githubusercontent.com/30820063/195708144-3a85c515-99a6

[2022-10-13 21:19] zerolab commented on #361
Hey @Big-Vi,

Have you seen the

line in the README? did it not work for you?

[2022-10-13 23:03] Big-Vi commented on #361
The below credentials did not work for me.
username: admin
password: changeme

[2022-10-23 20:33] softkeldozy opened #363 "Setup With Virtualenv for wagtail bakereydemo"
### Setup with Virtualenv

 https://github.com/wagtail/bakerydemo#setup-with-gitpod

### Creating virtual environment with `mkvirtualenv wagtailbakerydemo` throws an error using the latest python version (maybe windows related)

(Documentation should be updated to use the `venv ` approach which works well with recent python versions.)

[2022-10-24 08:17] softkeldozy commented on #363
Ok, thanks

[2022-10-24 08:54] lb- commented on #363
@softkeldozy can you confirm you tried to install `mkvirtualenv` first?

Also. The readme could be clearer but it does say that it's optional.

https://github.com/wagtail/bakerydemo#setup-with-virtualenv

Additionally you have linked to the gitpod part of the readme - not sure if that's intentional.

Maybe can you add a new comment with your exact setup, python version, windows version and the ter

[2022-10-24 20:05] softkeldozy commented on #363
After installing `virtualenv` and `pip install virtualenvwrapper` I then ran ` mkvirtualenv wagtailbakerydemo` and got the error seen in the image. The `virtualenvwrapper` is said to optional so I tried running  ` mkvirtualenv wagtailbakerydemo` at first after installing `virtualenv` and got same error.

Currently I'm running python version 3.10.8 on windows 10 pro

![image](https://user-images.gi

[2022-11-02 20:24] softkeldozy commented on #363
ok
I'm a windows user though and I had no idea of the configuration thing.
Thanks.
Please get back to me on this

[2022-11-13 20:35] #363 closed

[2022-11-20 19:14] bc6really commented on #361
I agree with @cmuc24, thanks @Big-Vi.  I should also note that the hosted demo site is having a similar issue; when asked for the username and password, admin / changeme does not work.

[2022-11-20 20:17] gasman commented on #361
I think the issue with the hosted demo site is different - since there's a single database shared across all users, it's easy for anyone to casually change the default login (and they may well even think it's the right thing to do, because the password is "changeme" after all).

I'm not sure why the extra `createsuperuser` step would be necessary here, because the `admin` / `changeme` account is [

[2022-11-23 20:27] mllabs commented on #361
I was also having trouble with logging in to either the docker container or the demo site.  The 'fix' does allow me to log in, but none of the data is there, so I figured it's probably due to the database not being up when the initial data load was running as mentioned by @gasman above.

Anyway - to fix both issues, I ran the command:

`docker-compose run app /venv/bin/python manage.py load_initia

[2022-11-24 15:49] thibaudcolas commented on #358
Hi @manyacz, thanks for the suggestion but I don’t think this is a change we’d be interested in making at this stage.

This is a demo project for Wagtail, the front-end code is only there to help demonstrate the capabilities of Wagtail, and in my opinion Bootstrap is a bit of a distraction we shouldn’t even have on there to start with, considering the site has a very distinct visual identity.

[2022-11-24 15:49] #358 closed

[2022-11-24 15:50] thibaudcolas commented on #307
I see the file now says `redis:6.2` so I’ll assume this is no longer relevant.

[2022-11-24 15:50] #307 closed